.feedback_theme_container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  
    .feedback_title {
      display: block;
  
      h4 {
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  
    form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem 0.5rem;
      width: 100%;
      height: auto;
      margin-top: 1rem;
      .First_colour {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        // padding: 1rem 0px;
  
        .theme_title {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          // padding:1rem 0px;
          font-size: 0.9rem;
        }
  
        .colourPicker {
          margin: 0.5rem 0px;
        }
        h2 {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          font-weight: 500;
  
          strong {
            font-weight: 550;
            letter-spacing: 1px;
          }
        }
      }
  
      .btn_preview {
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        margin: 0px auto;
  
        .btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
  
          .title {
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 1px;
            border-bottom: 1px solid rgb(138, 138, 138);
            padding-bottom: 5px;
          }
  
          button {
            background-color: rgb(34, 131, 78);
            padding: 0.5rem 1rem;
            color: #fff;
            font-size: 0.7rem;
            border-radius: 0.3rem;
          }
        }
        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
  
          .title {
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 1px;
            border-bottom: 1px solid rgb(138, 138, 138);
            padding-bottom: 5px;
          }
  
          i {
            background-color: rgb(34, 131, 78);
            padding: 0.4rem 0.6rem;
            color: #fff;
            font-size: 1rem;
            border-radius: 0.3rem;
          }
        }
      }
  
  
      // .Design3 {
      //   // grid-column: 1/-1;
      //   width: 100%;
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      //   justify-content: flex-start;
      //   gap: 10px;
      //   padding-top: 10px;
  
      //   .form_label {
      //     font-size: 0.9rem;
      //     font-weight: 600;
      //   }
  
      //     .radio_input {
      //       display: flex;
      //       align-items: flex-start;
      //       justify-content: flex-start;
      //       gap: 10px;
      //       flex-direction: column;
  
      //       .radio {
      //         display: flex;
      //         align-items: center;
      //         justify-content: flex-start;
  
      //         gap: 10px;
  
      //         label {
      //           font-size: 1rem;
      //           font-weight: 500;
      //           cursor: pointer;
      //           letter-spacing: 1px;
      //         }
  
      //         input[type="radio"] {
      //           width: 1.5rem;
      //           height: 1.5rem;
      //           border-radius: 50%;
      //           cursor: pointer;
      //         }
      //       }
      //       .design_input {
      //         display: flex;
      //         align-items: flex-start;
      //         flex-direction: column;
      //         justify-content: center;
      //         gap: 5px;
      //         position: relative;
  
      //         .Design3 {
      //           padding: 0.5rem 2rem;
      //           outline: none;
      //           width: 100%;
      //           border: 1px solid #9b9b9b;
      //           border-radius: 0.3rem;
      //           font-size: 0.9rem;
      //           letter-spacing: 1px;
  
      //           &:focus {
      //             border: 1px solid royalblue;
      //           }
      //           &:focus + .icon {
      //             color: #007bff; // Change icon color when input is focused
      //           }
      //           &:focus + .iconwithlabel {
      //             color: #007bff; // Change icon color when input is focused
      //           }
      //         }
  
           
      //         label {
      //           font-size: 0.9rem;
      //           font-weight: 500;
      //           color: gray;
      //           display: block;
  
      //           sup {
      //             color: red;
      //             font-size: 1rem;
      //           }
      //         }
      //         .slideLabel {
      //             position: absolute;
      //             left: 10px;
      //             top: 10px;
      //             transition: all 0.3s ease;
      //             pointer-events: none;
      //           }
      //         .icon {
      //           position: absolute;
      //           top: 20%;
      //           left: 2%;
  
      //           font-size: 1.3rem;
  
      //           color: #9b9b9b;
      //         }
      //         .iconwithlabel {
      //           position: absolute;
      //           top: 55%;
      //           left: 2%;
  
      //           font-size: 1.3rem;
  
      //           color: #9b9b9b;
      //         }
      //         .iconwithanimation {
      //             position: absolute;
      //             top: 55%;
      //             left: 2%;
    
      //             font-size: 1.3rem;
    
      //             color: #9b9b9b;
      //           }
      //       }
         
      //     }
      
      // }
      .radio_group {
        // grid-column: 1/-1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        padding-top: 10px;
  
        .form_label {
          font-size: 0.9rem;
          font-weight: 600;
        }
  
          .radio_input {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            flex-direction: column;
  
            .radio {
              display: flex;
              align-items: center;
              justify-content: flex-start;
  
              gap: 10px;
  
              label {
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                letter-spacing: 1px;
              }
  
              input[type="radio"] {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                cursor: pointer;
              }
            }
            .Design1 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design1 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: 1px solid #9b9b9b;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &:focus {
                  border: 1px solid royalblue;
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
              }
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: none;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design2 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design2 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: none;
                border-bottom: 1px solid #9b9b9b;
                position: relative;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &:focus {
                  border-bottom: 1px solid royalblue;
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: none;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design3 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design3 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: 1px solid #9b9b9b;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &:focus {
                  border: 1px solid royalblue;
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design4 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design4 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: none;
                border-bottom: 1px solid #9b9b9b;
                position: relative;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &:focus {
                  border-bottom: 1px solid royalblue;
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design5 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design5 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: 1px solid #9b9b9b;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
                box-shadow: none;
                transition: box-shadow 0.3s ease;
  
                &:focus {
                  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); // Blue glowing effect on focus
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design6 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design6 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: none;
                border-bottom: 1px solid #9b9b9b;
                position: relative;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &::placeholder {
                  transition: opacity 0.4s ease;
                  opacity: 1; // Full opacity by default
                }
  
                &:focus::placeholder {
                  opacity: 0; // Fades out the placeholder when focused
                }
                &:focus {
                  border-bottom: 1px solid royalblue;
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design7 {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design7 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: 1px solid #9b9b9b;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
                box-shadow: none;
                transition: box-shadow 0.3s ease;
  
                @keyframes shake {
                  0%,
                  100% {
                    transform: translateX(0);
                  }
                  20%,
                  60% {
                    transform: translateX(-5px);
                  }
                  40%,
                  80% {
                    transform: translateX(0px);
                  }
                }
  
                &:focus {
                  animation: shake 1s ease-in-out;
                  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); // Blue glowing effect on focus
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design8{
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design8 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: none;
                border-bottom: 1px solid #9b9b9b;
                position: relative;
                font-size: 0.9rem;
                letter-spacing: 1px;
  
                &::placeholder {
                  transition: opacity 0.4s ease;
                  opacity: 1; // Full opacity by default
                }
  
                &:focus::placeholder {
                  opacity: 0; // Fades out the placeholder when focused
                }
  
                &:focus {
                  border-bottom: 1px solid royalblue;
                  animation: bounce 1s ease-in-out;
                }
                @keyframes bounce {
                  0%,
                  20%,
                  50%,
                  80%,
                  100% {
                    transform: translateY(0);
                  }
                  40% {
                    transform: translateY(-5px);
                  }
                  60% {
                    transform: translateY(-2px);
                  }
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
              }
  
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
            .Design9{
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              position: relative;
  
              .Design9 {
                padding: 0.5rem 2rem;
                outline: none;
                width: 100%;
                border: 1px solid #9b9b9b;
                border-radius: 0.3rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
                box-shadow: none;
                transition: box-shadow 0.3s ease;
  
                @keyframes shake {
                  0%,
                  100% {
                    transform: translateY(0);
                  }
                  20%,
                  60% {
                    transform: translateY(-3px);
                  }
                  40%,
                  80% {
                    transform: translateY(0px);
                  }
                }
                @keyframes rotate {
                    from {
                      transform: rotate(0deg);
                    }
                    to {
                      transform: rotate(360deg);
                    }
                  }
  
                &:focus {
                  animation: shake 1s ease-in-out;
                  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); // Blue glowing effect on focus
                }
                &:focus + .icon {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithlabel {
                  color: #007bff; // Change icon color when input is focused
                }
                &:focus + .iconwithanimation {
                    color: #007bff; // Change icon color when input is focused
                    animation: rotate 0.5s ease-in-out;
                  }
              }
           
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: gray;
                display: block;
  
                sup {
                  color: red;
                  font-size: 1rem;
                }
              }
              .slideLabel {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  transition: all 0.3s ease;
                  pointer-events: none;
                }
              .icon {
                position: absolute;
                top: 20%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithlabel {
                position: absolute;
                top: 55%;
                left: 2%;
  
                font-size: 1.3rem;
  
                color: #9b9b9b;
              }
              .iconwithanimation {
                  position: absolute;
                  top: 55%;
                  left: 2%;
    
                  font-size: 1.3rem;
    
                  color: #9b9b9b;
                }
            }
          }
      
      }
      .form_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
        // width: 100%;
  
        .form_label {
          font-size: 0.8rem;
          font-weight: 600;
        }
        .current {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
  
          p {
            font-size: 0.8rem;
            font-weight: 550;
          }
        }
        .input_container {
          width: 100%;
          position: relative;
  
          input {
            width: 100%;
            padding: 0.5rem 0.5rem;
            outline: none;
            border: 1px solid gray;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 550;
            color: rgb(65, 65, 65);
  
            &:focus {
              border: 1px solid royalblue;
            }
          }
          select {
            position: absolute;
            right: 0%;
            top: 0%;
            padding: 0.5rem 0rem;
            border: 1px solid gray;
            border-left: none;
            border-bottom: none;
            border-radius: 5px;
            outline: none;
            font-size: 0.9rem;
            color: rgb(5, 112, 103);
            option {
              font-size: 0.9rem;
            }
          }
          #LogoPosition {
            position: relative;
            width: 100%;
            border: 1px solid gray;
            font-size: 1rem;
            color: rgb(65, 65, 65);
          }
        }
      }
      .form_actions {
        grid-column: 1/-1;
        padding: 1rem 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
  
        button {
          background-color: royalblue;
          padding: 0.4rem 2rem;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 550;
          color: #fff;
  
          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
  