.product_design_container{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    position: relative;

    form{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        height: 100%;
        .First_colour{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            padding: 1rem 0px;
    
            .theme_title{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // padding:1rem 0px;
            }
        
            .colourPicker{
               margin: 0.5rem 0px;
            }
            h2{
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-weight: 500;
    
                strong{
                    font-weight: 550;
                    letter-spacing: 1px;
                }
            }
        }
        .form_group{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 15px;
            width: 100%;
          
        

            .form_label{
              font-size: 0.9rem;
              font-weight: 600;
            }
          
            .colourPicker{
                margin: 0.5rem 0px;
             }
             h2{
                 font-size: 0.9rem;
                 display: flex;
                 align-items: center;
                 justify-content: flex-start;
                 width: 100%;
                 font-weight: 500;
     
                 strong{
                     font-weight: 550;
                     letter-spacing: 1px;
                 }
             }
            .current{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                p{
                    font-size: 0.8rem;
                    font-weight: 550;

                }
            }
            .input_container{
                width: 100%;
                position: relative;
          

                input{
                    width: 100%;
                    padding: 0.5rem 0.5rem;
                    outline: none;
                    border: 1px solid gray;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 550;
                    color: rgb(73, 73, 73);

                    &:focus{
                        border: 1px solid royalblue;
                    }
                }
                select{
                    position: absolute;
                    right: 0%;
                    top: 0%;
                    padding: 0.5rem 0rem;
                    border: 1px solid gray;
                    border-left: none;
                    border-bottom: none;
                    border-radius: 5px;
                    outline: none;
                    font-size: 0.9rem;
                    color: rgb(5, 112, 103);
                    option{
                        font-size: 0.9rem;
                    }
                    
                }
                #ProductFontWeight,#ProductTitleFont{
                    width: 100%;
                    position: relative;
                    // right: 0%;
                    // top: 0%;
                    padding: 0.5rem 0rem;
                    border: 1px solid gray;
                  
                    border-radius: 5px;
                    outline: none;
                    font-size: 0.9rem;
                    color: rgb(73, 73, 73);
                    font-weight: 550;
                    option{
                        font-size: 0.9rem;
                    }
                    
                }
                #LogoPosition{
                    position: relative;
                    width: 100%;
                    border: 1px solid gray;
                    font-size: 1rem;
                    color: rgb(65, 65, 65);
                }
            }
        }
      .radio_group{
        grid-column: 1/-1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        .form_label{
            font-size: 0.9rem;
            font-weight: 600;
          }

          .radio_inputs{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            .radio_input{
                display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            label{
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                letter-spacing: 1px;
            }
            }
          }
      }
        .form_actions{
            grid-column: 1/-1;
            padding: 1rem 0px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;


            button{
                background-color: royalblue;
                padding: 0.4rem 2rem;
                cursor: pointer;
                font-size: 0.9rem;
                font-weight: 550;
                color: #fff;

                &:hover{
                    background-color: gray;
                }
            }
        }

    }
}