.register_container {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0deg, #007a87, #01324e);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;
  overflow: hidden;


  .regiter_login_background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background:transparent;
    overflow: hidden;
    
  }
  .left {
    display: flex;
    flex: 0.5;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 300;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem;
    // background:linear-gradient(180deg,#019ca1,#00202f);
    // border-top-right-radius: 5rem;
    // border-bottom-right-radius: 5rem;
    // border-right: 1px solid rgb(223, 223, 223);

    .site_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      z-index: 900;
      img {
        width: 220px;
      }
    }
    .form_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0px;
      gap: 10px;
      width: 100%;
      z-index: 600;

      h4 {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
      }
      p {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.8rem;
        font-weight: 600;
        color: #6859ee;
      }
    }
    .moon_svg {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;

      z-index: 200;
      svg {
        transform: rotate(90deg);
        z-index: 200;
        width: 100%;
        height: 100%;

        #Rectangle_4 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          transform: translateY(800px);
          animation: identifier 5s infinite linear;
          @keyframes identifier {
            from {
              transform: rotate(360deg);
            }
            to {
              transform: rotate(0deg);
            }
          }
        }
        #Rectangle_2 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          transform: translateY(-500px);
          animation: identifier1 5s infinite linear;
          @keyframes identifier1 {
            from {
              transform:   rotate(130deg);
            }
            to {
              transform:  rotate(-130deg);
            }
          }
        }
        #Rectangle_6 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          transform: translateY(600px);
          animation: identifier2 5s infinite linear;
          @keyframes identifier2 {
            from {
              transform: rotate(-360deg) scale(0.5);
            }
            to {
              transform: rotate(360deg) scale(1);
            }
          }
        }
        #Rectangle_5 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          transform: translateY(100px);
          animation: identifier3 5s infinite linear;
          @keyframes identifier3 {
            from {
              transform: rotate(360deg);
            }
            to {
              transform: rotate(-360deg);
            }
          }
        }
        #Rectangle_7 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          display: none;
        }
        #Rectangle_3 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          border-radius: 10px;
          transform: translateY(100px);
          animation: identifier4 5s infinite linear;
          @keyframes identifier4 {
            from {
              transform: rotate(-360deg);
              border-radius: 2.5rem;
            }
            to {
              transform: rotate(0deg);
              border-radius: 0.5rem;
            }
          }
        }
        #Polygon_1 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          border-radius: 10px;
          transform: translateY(100px);
          animation: identifier5 15s infinite linear;
          @keyframes identifier5 {
            from {
              transform: translateY(900px);
              border-radius: 2.5rem;
            }
            to {
              transform: translateY(600px);
              border-radius: 0.5rem;
            }
          }
        }
        #Polygon_2 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          border-radius: 10px;
          transform: translateY(100px);
          animation: identifier7 25s infinite linear;
          @keyframes identifier7 {
            from {
              transform: translateY(400px);
              border-radius: 2.5rem;
            }
            to {
              transform: translateY(-400px);
              border-radius: 0.5rem;
            }
          }
        }
        #Polygon_3 {
          position: relative;
          color: red;
          transform-origin: center;
          transform-box: fill-box;
          border-radius: 10px;
          transform: translateY(100px);
          animation: identifier8 25s infinite linear;
          @keyframes identifier8 {
            from {
              transform: translateY(0px);
              border-radius: 2.5rem;
            }
            to {
              transform: translateY(400px);
              border-radius: 0.5rem;
            }
          }
        }

      }
    }
    .image {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        z-index: 500;
        object-fit: cover;
        object-position: center;
      }
    }

    .wave_svg {
      position: absolute;
      right: -125%;
      top: 0%;
      bottom: 0%;
      z-index: 100;

      svg {
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: rotate(270deg);
      }
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .right {
    display: flex;
    flex: 0.4;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // background-color: burlywood;
    width: 100%;
    height: 100%;
    // padding: 1rem 0.5rem;
    z-index: 500;

    .box_container {
      width: 85%;
      height: 95%;
      // z-index: 600;
      overflow: scroll;

      // background-image: url(../../assets/AddminPannel/dr12.jpg);
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background: linear-gradient(#ffffff, #ffffff);
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background: rgb(255, 255, 255);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border-radius: 10px;
      outline: none;
      // border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // border-bottom: 3px solid #fff;
      justify-content: center;

      .right_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        //   padding: 0.5rem 1rem;

        .current_form {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4rem;
          width: 100%;
          padding: 1rem 0px;

          background-color: #2f3f81;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-weight: 500;
            width: 100px;
            color: #fff;
            position: relative;
            cursor: pointer;

            .register_line {
              width: 90%;
              height: 4px;
              background-color: #fced26;
              border-radius: 5px;
              position: absolute;
              bottom: -10px;
            }
            .login_line {
              width: 60%;
              height: 4px;
              background-color: rgb(252, 237, 38);
              border-radius: 5px;
              position: absolute;
              bottom: -10px;
            }
          }
          .activeRegister {
            color: #fced26;
          }
          .activelogin {
            color: #fced26;
          }
        }

        form {
          width: 90%;
          position: relative;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: center;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-column-gap: 1rem;
          grid-row-gap: 0rem;
          margin: 1rem auto;
          position: relative;
          .form_title{
            small{
              color: blue;
              font-weight: 550;
            }
          }
          // Profile logo
          .profile {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 0.5rem 0.2rem;

            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;
              #profile_image {
                min-width: 70px;
                width: 70px;
                min-height: 70px;
                height: 70px;
                object-fit: cover;
                object-position: center;
                border-radius: 0.5rem;
                border: 1px solid gray;
                cursor: pointer;
              }
              span {
                font-size: 0.7rem;
                color: gray;
                font-weight: bold;
              }
            }
            input[type="file"] {
              display: none;
            }
            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .form_group {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;

            position: relative;
            margin: 0.7rem 0.2rem;
            padding: 0px 0px 20px 0px;

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 3px;
              top: -10px;
              position: absolute;
              padding: 0px 4px;
              font-weight: bold;
              left: 5%;
              color: rgb(199, 197, 197);
              // background: linear-gradient(#000,tomato);
              -webkit-text-fill-color: #2b2a2a;
              font-size: 0.7rem;

              background-color: #fff;
              border-radius: 4px;

              span {
                font-size: 1rem;
                color: red !important;
                -webkit-text-fill-color: rgb(255, 31, 31);
                sup {
                  color: red !important;
                }
              }

              @media screen and (max-width: 800px) {
                left: 5%;

                background-color: #fff;
              }
            }

            input {
              width: 100%;
              padding: 0.8rem 2.5rem;
              // border: 2px solid rgb(177, 238, 128);
              border: double 1px transparent;
              border-radius: 0.5rem;

              background-image: linear-gradient(#fff, #fff),
                linear-gradient(to right, #818181, #a5a5a5);

              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.65rem;
                color: rgb(129, 128, 128);
                letter-spacing: 1px;
                font-weight: 500;
              }
              &:focus {
                border: double 1px transparent;
                border-radius: 0.3rem;
                background-image: linear-gradient(#fff, #fff),
                  linear-gradient(to right, #a0a0a0, #56f88c);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background-image: linear-gradient(#fff, #fff),
                  linear-gradient(to right, #818181, #a5a5a5);
              }
            }

            .input_error {
              border: 1px solid red;
            }
            .error {
              position: absolute;
              bottom: -5%;
              color: red;
              font-size: 0.7rem;
              padding: 5px 0px 0px 0px;
            }
            .icon {
              position: absolute;
              left: 2%;
              top: 22%;

              i {
                font-size: 1.2rem;
                color: #6859ee;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                left: 2%;
                top: 25%;
              }
            }
            .success_icon {
              position: absolute;
              right: 2%;
             display: block;
              top: 22%;

              i {
                font-size: 1.2rem;
                color: #1a8114;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }
            #success_hide {
             display: none;
            }
            #success_show{
              // position: absolute;
              // right: 2%;
              // top: 22%;
           display: block;
            }
            .show_pass {
              position: absolute;
              right: 5%;
              top: 25%;

              i {
                font-size: 1rem;
                color: #2f3f81;
                cursor: pointer;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }

            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .forgot_password {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
              text-decoration: none;

              p {
                font-size: 0.8rem;
                color: royalblue;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
          }
          .form_submit {
            width: 100%;
            margin: 1rem auto;
            display: flex;
            grid-column: 1/-1;
            align-items: center;
            justify-content: center;

            position: relative;

            button {
              position: relative;
              width: 40%;
              height: 40px;
              vertical-align: middle;
              padding: 0.3rem 1rem;
              outline: none;
              border: transparent;
              background-color: #6f65f3;
              color: #fff;
              border-radius: 0.3rem;
              letter-spacing: 1px;
              font-weight: 500;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: #464545;
                transition: all 0.2s ease-in-out;
              }
              @media screen and (max-width: 700px) {
                width: 85%;
              }
            }
          }
          .or {
            padding-top: 2rem;
            width: 50%;
            grid-column: 1/-1;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;

            p {
              width: 100%;
              font-size: 0.7rem;
              color: gray;
              display: flex;
              align-items: center;
              text-align: center;
              gap: 4rem;
              justify-content: center;
              padding: 0px 10px;

              &::before {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                left: 0%;

                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }

              &::after {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                right: 0%;
                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }
            }
          }
        }
        .login_form {
          width: 90%;
          position: relative;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: center;
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 2rem;
          grid-row-gap: 0rem;
          margin: 2rem auto;

          .form_group {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 1rem 0.2rem;

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 3px;
              top: -10px;
              position: absolute;
              padding: 0px 4px;
              font-weight: bold;
              left: 7%;
              color: rgb(199, 197, 197);
              // background: linear-gradient(#000,tomato);
              -webkit-text-fill-color: rgb(43, 42, 42);
              font-size: 0.7rem;

              background-color: white;
              border-radius: 4px;

              span {
                font-size: 1rem;
                color: red !important;
                -webkit-text-fill-color: rgb(255, 31, 31);
                sup {
                  color: red !important;
                }
              }

              @media screen and (max-width: 800px) {
                left: 5%;
              }
            }

            input {
              width: 100%;
              padding: 1rem 2.5rem;
              // border: 2px solid rgb(177, 238, 128);
              border: double 1px transparent;
              border-radius: 0.5rem;

              background-image: linear-gradient(white, white),
                linear-gradient(to right, #a0a0a0, #868282);

              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              margin: auto;
              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.65rem;
                color: rgb(129, 128, 128);
                letter-spacing: 1px;
                font-weight: 500;
              }
              &:focus {
                border: double 1px transparent;
                border-radius: 0.3rem;
                background-image: linear-gradient(#fff, #fff),
                linear-gradient(to right, #a0a0a0, #56f88c);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background-image: linear-gradient(white, white),
                  linear-gradient(to right, #a0a0a0, #868282);
              }
            }

            .input_error {
              border: 1px solid red;
            }
            .error {
              position: absolute;
              bottom: -5%;
              left: 0%;
              color: red;
              font-size: 0.7rem;
              padding: 5px 0px 0px 0px;
            }
            .icon {
              position: absolute;
              left: 2%;
              top: 25%;

              i {
                font-size: 1.4rem;
                color: #6859ee;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                left: 2%;
                top: 25%;
              }
            }
            .show_pass {
              position: absolute;
              right: 10%;
              top: 27%;

              i {
                font-size: 1rem;
                color: #2f3f81;
                cursor: pointer;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }

            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .capcha {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
          }
          .forgot_password {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem 2rem;

            a {
              text-decoration: none;

              small {
                font-size: 0.7rem;
                color: royalblue;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
            @media screen and (max-width: 600px) {
              margin-left: 3.5rem;
            }
          }
          .form_submit {
            width: 100%;
            margin: 2rem auto 0.5rem auto;
            display: flex;
            grid-column: 1/-1;
            align-items: center;
            justify-content: center;
            position: relative;

            button {
              position: relative;
              width: 40%;
              padding: 0.4rem 0.8rem;
              outline: none;
              border: transparent;
              background-color: #6f65f3;
              color: #fff;
              border-radius: 0.3rem;
              letter-spacing: 1px;
              font-weight: 500;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: #5f5f5f;
                transition: all 0.2s ease-in-out;
              }
              @media screen and (max-width: 700px) {
                width: 45%;
              }
            }
          }

          .or {
            width: 50%;
            grid-column: 1/-1;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            p {
              width: 100%;
              font-size: 0.7rem;
              color: gray;
              display: flex;
              align-items: center;
              text-align: center;
              gap: 4rem;
              justify-content: center;
              padding: 0px 10px;

              &::before {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                left: 0%;

                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }

              &::after {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                right: 0%;
                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 900px) {
          flex: 0.6;
        }
        @media screen and (max-width: 800px) {
          flex: 1;
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        display: none !important;
      }
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        box-shadow: none;
        background-image: none;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        height: 100vh;
        box-shadow: none;
        // padding: 10px 0px;
        border-radius: 0rem;
        background-image: none;
        // background-color: #fff;
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column-reverse;
  }
}

//Login_anime::after

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

//LOaders::after
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

// .background {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background: #3E1E68;
//   overflow: hidden;
// }

.regiter_login_background span {
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 38;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.regiter_login_background span:nth-child(0) {
  color: #ffffff;
  top: 41%;
  left: 17%;
  animation-duration: 94s;
  animation-delay: -69s;
  transform-origin: 10vw 4vh;
  box-shadow: -4vmin 0 0.7248461367848138vmin currentColor;
}
.regiter_login_background span:nth-child(1) {
  color: #ffffff;
  top: 35%;
  left: 7%;
  animation-duration: 105s;
  animation-delay: -35s;
  transform-origin: -8vw 18vh;
  box-shadow: -4vmin 0 0.7710677134168265vmin currentColor;
}
.regiter_login_background span:nth-child(2) {
  color: #ffffff;
  top: 20%;
  left: 1%;
  animation-duration: 20s;
  animation-delay: -37s;
  transform-origin: -14vw 16vh;
  box-shadow: 4vmin 0 0.852418380112848vmin currentColor;
}
.regiter_login_background span:nth-child(3) {
  color: #ffffff;
  top: 50%;
  left: 55%;
  animation-duration: 74s;
  animation-delay: -85s;
  transform-origin: 21vw -20vh;
  box-shadow: 4vmin 0 1.2097723810322967vmin currentColor;
}
.regiter_login_background span:nth-child(4) {
  color: #ffffff;
  top: 59%;
  left: 18%;
  animation-duration: 68s;
  animation-delay: -76s;
  transform-origin: -8vw 19vh;
  box-shadow: 4vmin 0 1.1512762137762655vmin currentColor;
}
.regiter_login_background span:nth-child(5) {
  color: #ffffff;
  top: 41%;
  left: 25%;
  animation-duration: 122s;
  animation-delay: -96s;
  transform-origin: 9vw 20vh;
  box-shadow: 4vmin 0 1.418023901147754vmin currentColor;
}
.regiter_login_background span:nth-child(6) {
  color: #ffffff;
  top: 69%;
  left: 89%;
  animation-duration: 74s;
  animation-delay: -77s;
  transform-origin: 0vw 10vh;
  box-shadow: 4vmin 0 1.23141353306967vmin currentColor;
}
.regiter_login_background span:nth-child(7) {
  color: #ffffff;
  top: 83%;
  left: 57%;
  animation-duration: 106s;
  animation-delay: -79s;
  transform-origin: 10vw 2vh;
  box-shadow: -4vmin 0 1.0879698621903553vmin currentColor;
}
.regiter_login_background span:nth-child(8) {
  color: #ffffff;
  top: 7%;
  left: 7%;
  animation-duration: 37s;
  animation-delay: -31s;
  transform-origin: 0vw -21vh;
  box-shadow: -4vmin 0 1.1385743399061494vmin currentColor;
}
.regiter_login_background span:nth-child(9) {
  color: #ffffff;
  top: 86%;
  left: 17%;
  animation-duration: 47s;
  animation-delay: -63s;
  transform-origin: 7vw -19vh;
  box-shadow: -4vmin 0 0.6371178160109272vmin currentColor;
}
.regiter_login_background span:nth-child(10) {
  color: #583C87;
  top: 33%;
  left: 27%;
  animation-duration: 120s;
  animation-delay: -94s;
  transform-origin: -19vw 14vh;
  box-shadow: -4vmin 0 1.0367025526882372vmin currentColor;
}
.regiter_login_background span:nth-child(11) {
  color: #ffffff;
  top: 3%;
  left: 93%;
  animation-duration: 36s;
  animation-delay: -113s;
  transform-origin: -22vw 15vh;
  box-shadow: -4vmin 0 1.2408361923932942vmin currentColor;
}
.regiter_login_background span:nth-child(12) {
  color: #ffffff;
  top: 70%;
  left: 69%;
  animation-duration: 65s;
  animation-delay: -15s;
  transform-origin: -15vw -6vh;
  box-shadow: -4vmin 0 0.7091945820214121vmin currentColor;
}
.regiter_login_background span:nth-child(13) {
  color: #f3e742;
  top: 31%;
  left: 74%;
  animation-duration: 24s;
  animation-delay: -118s;
  transform-origin: -14vw -14vh;
  box-shadow: -4vmin 0 1.1421989973396873vmin currentColor;
}
.regiter_login_background span:nth-child(14) {
  color: #e5fa2c;
  top: 41%;
  left: 73%;
  animation-duration: 117s;
  animation-delay: -61s;
  transform-origin: -20vw -19vh;
  box-shadow: 4vmin 0 1.4899077343044134vmin currentColor;
}
.regiter_login_background span:nth-child(15) {
  color: #ee892b;
  top: 79%;
  left: 50%;
  animation-duration: 79s;
  animation-delay: -46s;
  transform-origin: -2vw -3vh;
  box-shadow: 4vmin 0 1.1746309637430363vmin currentColor;
}
.regiter_login_background span:nth-child(16) {
  color: #dbce0d;
  top: 77%;
  left: 73%;
  animation-duration: 37s;
  animation-delay: -32s;
  transform-origin: 3vw -1vh;
  box-shadow: 4vmin 0 0.8934037232974565vmin currentColor;
}
.regiter_login_background span:nth-child(17) {
  color: #ffffff;
  top: 52%;
  left: 8%;
  animation-duration: 21s;
  animation-delay: -107s;
  transform-origin: -3vw -8vh;
  box-shadow: 4vmin 0 0.9993241131766522vmin currentColor;
}
.regiter_login_background span:nth-child(18) {
  color: #81df35;
  top: 80%;
  left: 39%;
  animation-duration: 122s;
  animation-delay: -103s;
  transform-origin: 16vw 1vh;
  box-shadow: -4vmin 0 1.1339361581893774vmin currentColor;
}
.regiter_login_background span:nth-child(19) {
  color: #583C87;
  top: 40%;
  left: 45%;
  animation-duration: 27s;
  animation-delay: -119s;
  transform-origin: -11vw 25vh;
  box-shadow: 4vmin 0 0.8890168482541712vmin currentColor;
}
.regiter_login_background span:nth-child(20) {
  color: #ffffff;
  top: 100%;
  left: 72%;
  animation-duration: 123s;
  animation-delay: -70s;
  transform-origin: 25vw -10vh;
  box-shadow: -4vmin 0 1.3872375876391054vmin currentColor;
}
.regiter_login_background span:nth-child(21) {
  color: #FFACAC;
  top: 32%;
  left: 93%;
  animation-duration: 119s;
  animation-delay: -23s;
  transform-origin: 18vw 0vh;
  box-shadow: 4vmin 0 1.302632500529501vmin currentColor;
}
.regiter_login_background span:nth-child(22) {
  color: #E45A84;
  top: 39%;
  left: 18%;
  animation-duration: 20s;
  animation-delay: -79s;
  transform-origin: -17vw 9vh;
  box-shadow: -4vmin 0 0.8503840970677692vmin currentColor;
}
.regiter_login_background span:nth-child(23) {
  color: #583C87;
  top: 47%;
  left: 71%;
  animation-duration: 31s;
  animation-delay: -43s;
  transform-origin: -3vw -10vh;
  box-shadow: -4vmin 0 1.0193948362960241vmin currentColor;
}
.regiter_login_background span:nth-child(24) {
  color: #583C87;
  top: 29%;
  left: 33%;
  animation-duration: 34s;
  animation-delay: -40s;
  transform-origin: -19vw -13vh;
  box-shadow: 4vmin 0 0.9302449572860403vmin currentColor;
}
.regiter_login_background span:nth-child(25) {
  color: #583C87;
  top: 64%;
  left: 42%;
  animation-duration: 42s;
  animation-delay: -63s;
  transform-origin: -19vw -1vh;
  box-shadow: -4vmin 0 1.4258049201243526vmin currentColor;
}
.regiter_login_background span:nth-child(26) {
  color: #E45A84;
  top: 55%;
  left: 29%;
  animation-duration: 53s;
  animation-delay: -63s;
  transform-origin: 14vw 1vh;
  box-shadow: 4vmin 0 0.7864242856610821vmin currentColor;
}
.regiter_login_background span:nth-child(27) {
  color: #ffffff;
  top: 55%;
  left: 59%;
  animation-duration: 53s;
  animation-delay: -63s;
  transform-origin: 14vw 1vh;
  box-shadow: 4vmin 0 0.7864242856610821vmin currentColor;
}
.regiter_login_background span:nth-child(28) {
  color: #ffffff;
  top: 55%;
  left: 69%;
  animation-duration: 33s;
  animation-delay: -23s;
  transform-origin: 14vw 1vh;
  box-shadow: 4vmin 0 0.7864242856610821vmin currentColor;
}
.regiter_login_background span:nth-child(29) {
  color: #ffffff;
  top: 15%;
  left: 79%;
  animation-duration: 63s;
  animation-delay: -13s;
  transform-origin: 14vw 1vh;
  box-shadow: 4vmin 0 0.7864242856610821vmin currentColor;
}
.regiter_login_background span:nth-child(30) {
  color: #ffffff;
  top: 25%;
  left: 89%;
  animation-duration: 23s;
  animation-delay: -13s;
  transform-origin: 14vw 1vh;
  box-shadow: 4vmin 0 0.7864242856610821vmin currentColor;
}