.register_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;
  overflow: hidden;
// .svg_line{
// position: fixed;
// top: 0%;
// left: 43%;
// width:9%;
// height: 100%;

// text-align: start;
// // text-align: center;
// overflow: hidden;
// z-index: 1002;
// svg{
//   display: inline-block;
// height: 100%;


// }
// }
  .left {
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: center;
    z-index: 300;
    width: 100%;
    height: 100%;
    position: relative;
    background:linear-gradient(#0E8BFF,#0E8BFF);
    // border-top-right-radius: 5rem;
    // border-bottom-right-radius: 5rem;
border-right: 1px solid rgb(223, 223, 223);
  
    .moon_svg{
      position: absolute;
      top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    z-index: 200;
    svg{
      transform: rotate(90deg);
   z-index: 200;
      width: 100%;
      height: 100%;




    }
    }

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
z-index: 500;
      object-fit: cover;
      object-position: center;

    }

    .wave_svg{
      position: absolute;
      right: -125%;
      top: 0%;
      bottom: 0%;
      z-index: 100;

      svg{
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: rotate(270deg);
      }
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .right {
    display: flex;
    flex: 0.5;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // background-color: burlywood;
    width: 100%;
    height: 100%;
    // padding: 1rem 0.5rem;
    z-index: 500;

    .box_container {
      width: 100%;
      height: 100%;
      // z-index: 600;
      overflow: scroll;
 
      // background-image: url(../../assets/AddminPannel/dr12.jpg);
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background: linear-gradient(#ffffff, #ffffff);
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #fff;
      
      // border-top-left-radius: 3rem;
      // border-bottom-left-radius: 3rem;
      // border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // border-bottom: 3px solid #fff;
      justify-content: center;
      .site_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        cursor: pointer;

        img {
          width: 220px;
        }
      }
      .right_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 1rem;

        //   padding: 0.5rem 1rem;

        .form_title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;

          h4 {
            font-size: 1rem;
            font-weight: 550;
            letter-spacing: 1px;
            color: #000;
          }
          p {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.8rem;
            font-weight: 600;
            color: rgb(104, 89, 238);
          }
        }
        .illustration {
          position: absolute;
          right: 8%;
          top: 15%;

          img {
            width: 200px;
          }

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        form {
          width: 90%;
          position: relative;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: center;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-column-gap: 2rem;
          grid-row-gap: 0rem;
          margin: 0.4rem auto;
          // Profile logo
          .profile {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 1rem 0.2rem;

            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;
              #profile_image {
                min-width: 70px;
                width: 70px;
                min-height: 70px;
                height: 70px;
                object-fit: cover;
                object-position: center;
                border-radius: 0.5rem;
                border: 1px solid gray;
                cursor: pointer;
              }
              span {
                font-size: 0.7rem;
                color: gray;
                font-weight: bold;
              }
            }
            input[type="file"] {
              display: none;
            }
            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .form_group {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 1rem 0.2rem;

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 3px;
              top: -10px;
              position: absolute;
              padding: 0px 4px;
              font-weight: bold;
              left: 5%;
              color: rgb(199, 197, 197);
              // background: linear-gradient(#000,tomato);
              -webkit-text-fill-color: #2b2a2a;
              font-size: 0.7rem;

              background-color: #fff;
              border-radius: 4px;

              span {
                font-size: 1rem;
                color: red !important;
                -webkit-text-fill-color: rgb(255, 31, 31);
                sup {
                  color: red !important;
                }
              }

              @media screen and (max-width: 800px) {
                left: 5%;
                
              background-color: #fff;
              }
            }

            input {
              width: 100%;
              padding: 0.8rem 2.5rem;
              // border: 2px solid rgb(177, 238, 128);
              border: double 1px transparent;
              border-radius: 0.5rem;

              background-image: linear-gradient(#FFF, #fff),
                linear-gradient(to right, #818181, #a5a5a5);

              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.65rem;
                color: rgb(129, 128, 128);
                letter-spacing: 1px;
                font-weight: 500;
              }
              &:focus {
                border: double 1px transparent;
                border-radius: 0.3rem;
                background-image: linear-gradient(#fff, #fff),
                  linear-gradient(to right, #a0a0a0, #834ffc);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background-image: linear-gradient(#fff, #fff),
                linear-gradient(to right, #818181, #a5a5a5);
              }
            }

            .icon {
              position: absolute;
              left: 2%;
              top: 35%;

              i {
                font-size: 1.4rem;
                color: #6859ee;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                left: 2%;
                top: 25%;
              }
            }
            .show_pass {
              position: absolute;
              right: 2%;
              top: 25%;

              i {
                font-size: 1.4rem;
                color: #bc82ff;
                cursor: pointer;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }

            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .forgot_password {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
              text-decoration: none;

              p {
                font-size: 0.8rem;
                color: royalblue;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
          }
          .form_submit {
            width: 100%;
            margin: 1rem auto;
            display: flex;
            grid-column: 1/-1;
            align-items: center;
            justify-content: center;
           
            position: relative;

            button {
              position: relative;
              width: 30%;
              height: 40px;
              vertical-align: middle;
              padding: 0.3rem 0.5rem;
              outline: none;
              border: transparent;
              background-color: #6f65f3;
              color: #fff;
              border-radius: 0.3rem;
              letter-spacing: 1px;
              font-weight: 600;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: #464545;
                transition: all 0.2s ease-in-out;
              }
              @media screen and (max-width: 700px) {
                width: 85%;
              }
            }
          }
          .or {
           padding-top: 2rem;
            width: 50%;
            grid-column: 1/-1;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;

            p {
              width: 100%;
              font-size: 0.7rem;
              color: gray;
              display: flex;
              align-items: center;
              text-align: center;
              gap: 4rem;
              justify-content: center;
              padding: 0px 10px;

              &::before {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                left: 0%;

                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }

              &::after {
                content: "";
                height: 1px;
                width: 250px;
                background: linear-gradient(#5161f3, #e6f1a8);
                position: absolute;
                right: 0%;
                @media screen and (max-width: 900px) {
                  width: 100px;
                }
              }
            }
          }
        }

        .signup_link {
          margin: 2rem auto;
          width: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          p {
            font-size: 0.8rem;
            font-weight: 550;
            letter-spacing: 1px;

            a {
              text-decoration: none;
              font-weight: bold;
              color: royalblue;
            }
          }
        }
        @media screen and (max-width: 900px) {
          flex: 0.6;
        }
        @media screen and (max-width: 800px) {
          flex: 1;
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        display: none !important;
      }
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        box-shadow: none;
        background-image: none;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        height: 100dvh;
        box-shadow: none;
        padding: 10px 0px;
        border-radius: 0rem;
        background-image: none;
        background-color: #fff;
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column-reverse;
  }
}

//Login_anime::after

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

//LOaders::after
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}