$navbar_menu_color: #fff;
$navbar_background: navy;

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: $navbar_background;
  background: linear-gradient(280deg, #063947 , #053947 );
  color: $navbar_menu_color;
z-index: 1;
  .nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 1rem;

    .colum-1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      flex: 0.15;

      .logo{
        img {
          width: 200px;
          height: 100%;
          object-fit: cover;
          object-position: top;

          @media screen and (max-width: 500px) {
           width: 180px;
          }
        }
      }
      .hamburger {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 3;
        .icon {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.726);
            transition: all 0.3s ease-in-out;
          }
        }
        @media screen and (max-width: 500px) {
          display: block;
        }
      }
      @media screen and (max-width: 1100px) {
        flex: 0.6;
      }
      @media screen and (max-width:500px){
        width: 100%;
        display: flex;
      align-items: center;
      justify-content: space-between;
     flex: 1;
  
      }
    }
    .colum-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex: 0.65;

      ul {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        transition: all 0.5s ease-in-out;
        li {
          list-style-type: none;
          cursor: pointer;

          a {
            text-decoration: none;
            color: $navbar_menu_color;
            font-size: 0.9rem;
            font-weight: 550;
            position: relative;

            &::after {
              content: "";
              background-color: yellow;
              width: 0%;
              height: 3px;
              border-radius: 3px;
              position: absolute;
              left: 50%;
              bottom: -15%;
              transform: translate(-50%, 15%);
              transition: all 0.5s ease-in-out;
            }
            &::before {
              content: "";
              background-color: yellow;
              width: 0rem;
              height: 0rem;
              border-radius: 50%;
              position: absolute;
              top: -15%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              &::before {
                content: "";
                background-color: yellow;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.5s ease-in-out;
              }
              &::after {
                content: "";
                background-color: yellow;
                width: 100%;
                height: 3px;
                border-radius: 3px;
                position: absolute;

                left: 50%;
                bottom: -15%;
                transform: translate(-50%, 15%);
                transition: all 0.5s ease-in-out;
              }
            }
          }
          .activeMenu {
            &::before {
              content: "";
              background-color: yellow;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              position: absolute;
              top: -15%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: all 0.5s ease-in-out;
            }
            &::after {
              content: "";
              background-color: yellow;
              width: 100%;
              height: 3px;
              border-radius: 3px;
              position: absolute;

              left: 50%;
              bottom: -15%;
              transform: translate(-50%, 15%);
              transition: all 0.5s ease-in-out;
            }
          }
        }
        @media screen and (max-width: 1200px) {
          gap: 1.5rem;
        }
        @media screen and (max-width: 1100px) {
          position: absolute;
          top: 8vh;
          right: 0%;
          height: 92vh;
          width: 200px;
          background-color: $navbar_background;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          padding: 2rem 1rem;
          z-index: 1;
        }
        @media screen and (max-width: 500px) {
          position: absolute;
          top: 0%;
          right: 0%;
          height: 100vh;
          width: 100%;
          background-color: $navbar_background;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          padding: 2rem 1rem;
          z-index: 2;
        }
      }
      @media screen and (max-width: 1100px) {
        flex: 0;
        .SideMenuOpen {
       
          transform: translateX(0px);
          transition: all 0.5s ease-in-out;
        }
        .SideMenuClose {
      
          transform: translateX(600px);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .column_3 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      gap: 1rem;
      flex: 0.2;
      z-index: 1;

      .auth {
        text-decoration: none;
        border: none;
        padding: 0.3rem 1rem;
        border-radius: 0.4rem;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 0.9rem;
        font-weight: 550;

        .icon {
          font-size: 1.3rem;
          font-weight: 550;
        }

        &:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          text-decoration: none;
        
          border-radius: 0.3rem;
          outline: none;
          border: 1px solid rgb(255, 255, 255);
          border: transparent;
          color: rgb(255, 255, 255);
          position: relative;
          z-index: 1;
          transition: all 0.2s linear;

      
          &::before {
            content: "";
            height: 100%;
            width: 0%;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            color: rgb(43, 43, 43);
            position: absolute;
            right: 0%;
            top: 0%;
            border-radius: 0rem;
            z-index: -1;
            transition: all 0.2s linear;
          }

          &:hover {
            color: #000 !important;
            // border: none;
            transition: all 0.2s linear;
            &::before {
              content: "";
              height: 100%;
              width: 100%;
              color: #000;
              background-color: rgb(255, 255, 255);
              position: absolute;
              right: 0%;
              border-radius: 0.3rem;
              top: 0%;
              transition: all 0.2s linear;
            }
          }
        }
        &:nth-child(2) {
          display: flex;

          align-items: center;
          justify-content: center;
          gap: 5px;
          text-decoration: none;

          border-radius: 0.1rem;
          outline: none;
          border: 1px solid yellow;
          color: rgb(53, 53, 53);
          position: relative;
          z-index: 1;
          border: transparent;
          transition: all 0.2s linear;

          &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-color: yellow;
            color: #000;
            position: absolute;
            bottom: 0%;
            top: 0%;
            border-radius: 0.1rem;
            z-index: -1;
            transition: all 0.2s linear;
          }

          &:hover {
            color: yellow !important;
            // border: none;
            transition: all 0.2s linear;
            &::before {
              content: "";
              height: 100%;
              width: 0%;
              color: #000;
              background-color: yellow;
              position: absolute;
              bottom: 0%;
              border-radius: 0.1rem;
              border-bottom: 1px solid yellow;
              top: 0%;
              transition: all 0.2s linear;
            }
          }
        }

    
      }
      .user {
        text-decoration: none;
        border: none;
        padding: 0.3rem 1rem;
        border-radius: 0.4rem;
        outline: none;
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 0.9rem;
        font-weight: 550;
        background-color: none !important;

        .icon {
          font-size: 1.3rem;
          font-weight: 550;
        }
        &:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          text-decoration: none;
        
          border-radius: 0.3rem;
          outline: none;
          border: 1px solid rgb(255, 255, 255);
          border: transparent;
          color: rgb(255, 255, 255);
          position: relative;
          z-index: 1;
          transition: all 0.2s linear;

      
          &::before {
            content: "";
            height: 100%;
            width: 0%;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            color: rgb(43, 43, 43);
            position: absolute;
            left: 0%;
            top: 0%;
            border-radius: 0rem;
            z-index: -1;
            transition: all 0.2s linear;
          }

          &:hover {
            color: #000 !important;
            // border: none;
            transition: all 0.2s linear;
            &::before {
              content: "";
              height: 100%;
              width: 100%;
              color: #000;
              background-color: rgb(255, 255, 255);
              position: absolute;
              left: 0%;
              // border-radius: 0.3rem;
              top: 0%;
              transition: all 0.2s linear;
            }
          }
        }

    
      }
      .hamburger {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .icon {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.726);
            transition: all 0.3s ease-in-out;
          }
        }
        @media screen and (max-width: 1100px) {
          display: block;
        }
        @media screen and (max-width: 500px) {
         display: none;
         }
      }
      @media screen and (max-width: 1100px) {
        flex: 0.4;
      }
      @media screen and (max-width:500px){
        flex: 1;
  
       
        width: 100%;
        border-top: 1px solid #eeeeeea1;
        padding: 10px;
      }
    }
    @media screen and (max-width:500px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 1rem;
    }
  }
}
