@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stylish&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.newCard_design4_container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149177091.jpg?t=st=1715255002~exp=1715258602~hmac=1b2d4838598b5561a320852d3c087de2660ecba312f10bffd3381b72080eec64&w=900');
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;

  display: flex;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  position: relative;

  .card_design_box1 {
    opacity: 1;
    min-width: 35%;
    width: 35%;
    min-height: auto;
    height: auto;
    overflow: hidden;
    z-index: 900;
    position: absolute;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
    background:linear-gradient(280deg,#b0eeff,#b0eeff);

    .card4_box_1 {
      width: 100%;
      position: relative;
      height: 240px;
      max-height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
      }
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        // background: linear-gradient(
        //   to bottom,
        //   rgba(255, 255, 255, 0) 0%,
        //   #a289ff 100%
        // );
        // background:linear-gradient(   to bottom,#9affd8,#a289ff);
      }
      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 25%;

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 2px solid #acacac;
          background-color: rgb(228, 228, 228);
          padding: 10px;
        }
      }
    }
    .card4_box_2 {
      position: relative;
      width: 100%;
      margin-top: 4rem;
      padding: 5px 0.5rem;

      .basic_detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #fff;

        h4 {
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 550;
          color: #1d1d1d;
        }
        small {
          font-size: 0.7rem;
          letter-spacing: 1px;
          font-weight: 550;
          color: #acacac;
        }
      }
      .summary {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        .title {
          width: 100%;
          font-family: "Lugrasimo", cursive;
          font-weight: 400;
          font-style: normal;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          p {
       
            color: #181818;
            font-weight: 600;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
        .content {
          width: 100%;
          margin: 0px auto;
          padding: 10px;

          small {
       
            width: 100%;
            font-size: 0.9rem;
            letter-spacing: 1px;
            line-height: 1.3rem;
            text-align: center;
            color: #1f1f1f;
          }
        }
      }
    }
    .card4_box_3 {
      position: relative;
      width: 100%;
      padding: 0px 0.5rem;

      margin: 0.1rem auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;

      a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        img {
          width: 40px;
          height: 40px;

          @media (max-width: 576px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover {
          scale: 1.05;
          filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.8));
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .card4_box_4 {
      position: relative;
      padding: 10px 0.5rem;
      .contact_title {
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        padding: 0px 5px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        p {
          font-weight: 600;
          color: #181818;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
      .contact_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;
        margin: 1rem auto;
        padding: 1rem 0.5rem;

        .contact_box {
          width: 100%s;
          display: flex;
          align-items: center;
          justify-content: flex-start;
         
          gap: 10px;
          color: #010101;
          padding: 10px 1rem;

          background-color: #ffffff;
       
      
          position: relative;
        border-radius: 1rem;
          z-index: 600;

          .svg {
            width: 100%;
            position: absolute;
            top: -64%;
            left: 0%;
            z-index: -10;

            @media (max-width: 700px) {
              top: -102%;
              display: none;
            }
          }
        
          .icon {
            img {
              width: 35px;
              height: 35px;
              padding: 5px;
              border-radius: 50%;
              background-color: #29bdc1;
            }
          }
          .detail {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
            margin: auto;

            p {
              width: 100%;
              font-size: 0.7rem;
              font-weight: 550;
              color: rgb(19, 19, 19);
              margin: auto;
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              place-items: center;
            }
            small {
              font-size: 0.7rem;
              color: #9e9e9e;
              font-weight: 550;
            }
          }
          
          @media (max-width: 700px) {
           border-radius: 1rem;
         
          }
        }
        @media (max-width: 700px) {
        grid-row-gap: 1rem;
        
         }
      }
      .add_to_contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        button {
          width: 50%;
          padding: 10px 1rem;
          outline: none;
          border: transparent;
          background-color: #ffed8a;
          color: #1a1a1a;
          font-size: 0.9rem;
          font-weight: 550;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          transition: all 0.4s ease-in-out;
          i {
            color: #292828;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            background-color: #fff;
            color: #2e2e2e;
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
            transition: all 0.4s ease-in-out;

            i{
              color: #2e2e2e;
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
    }

    .card4_box_5 {
      position: relative;
      padding: 10px 0.5rem;
      .service_title {
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        padding: 0px 5px;
        margin-bottom: 2rem;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        gap: 10px;

        p {
          color: #1b1b1b;
          font-weight: 600;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }

      .service_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 3.5rem;
        margin: 0.5rem auto;
        padding: 1rem 0.5rem;

        .service_box {
          width: 100%;
          min-height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: column;
          margin: auto;
          padding: 10px 0.5rem 1rem 10px;
          color: #000;
          background-color: #f0eeee;
       border-radius: 1rem;
          position: relative;
          z-index: 600;
          .service_image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -20%;
            left: 22%;

            img {
              width: 130px;
              height: 80px;
              object-fit: cover;
              object-position: center;
              border-top-left-radius: 3rem;
              border-top-right-radius: 3rem;
              border-bottom-left-radius: 3rem;
              filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.5));
            }
            .tag {
              position: absolute;
              left: -15%;
              top: 50%;

              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          .service_detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin: 2rem auto 0rem auto;

            h4 {
              width: 100%;
              letter-spacing: 1px;
              font-size: 0.8rem;
              font-weight: 550;
              color: #020202;
            }
            small {
              width: 100%;
              align-items: center;
              justify-content: center;
              text-align: start;
              font-size: 0.7rem;
              font-weight: 550;
              color: #8f8c8c;
            }
          }
          .svg_bottom {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0%;
            right: 0%;
            z-index: -10;

            @media (max-width: 700px) {
              top: 97%;
            }
          }
        }
      }
    }
    .card4_box_6 {
      position: relative;
      padding: 10px 0rem;

      .Testimonial {
        margin: 2rem auto;
        width: 100%;
        min-height: 300px;
        height: 300px;
        position: relative;
        background-color: #ffffff;

        .testimonial_title {
          font-family: "Lugrasimo", cursive;
          font-weight: 400;
          font-style: normal;
          padding: 20px 5px;
     
       
          z-index: 700;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
  
          p {
            color: #131313;
            font-weight: 600;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
        .qrsvg_bottom {
          position: absolute;
          bottom: -30%;
          left: 0%;
          width:100%;
       
@media screen and (max-width:700px){
  bottom: -25%;
}
       
        }
        .testimonial_box {
          width: 95%;
          padding: 1rem;
          margin: 10px auto;
          background-color: #fdff87e1;
          box-shadow: 0px 4px 5px 2px  rgba(0,0,0,0.5);
          color: #000000;
          z-index: 900;
          border-radius: 0.5rem;
          border-bottom-right-radius: 6rem;

          height: auto;
          position: absolute;
          display: flex;
          // align-items: center;
          // justify-content: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .content {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0.5rem;
        
            z-index: 700;
          
            .name {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 3px;
         
              p {
                width: 100%;
               
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-size: 0.9rem;
                font-weight: 550;
                color: rgb(31, 31, 31);
                text-align: start;

                i {
                  color: tomato;
                }
              }

              span {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;

                i {
                  font-size: 1rem;
                  color: rgb(17, 95, 40);
                }
              }
            }
            .user_Detail {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              gap: 1.5rem;
              width: 100%;
              height: 100%;

              img {
              
                width: 70px;
                height: 70px;
                border-radius: 50%;

                border: 2px solid rgb(36, 36, 36);
                object-fit: cover;
                object-position: center;
              }
              .feedbacks {
                padding: 0px 0px;

                p {
                  width:100%;
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  text-align: start;
                  gap: 10px;
                  font-size: 0.8rem;
                  font-weight: 500;
                  letter-spacing: 1px;
                  text-align: start;
                color: #161616;
                  i {
                    color: rgb(0, 0, 0);
                    font-size: 1.2rem;
                  }
@media screen and (max-width:900px){
  font-size: 0.6rem;
}
                }
              }
            }

            .feedback_date {
              width: 100%;
              display: flex;
              padding: 0px 1rem;
              align-items: flex-end;
              justify-content: flex-end;

              img {
                width: 30px;
                height: 30px;
              }
              i {
                color: green;
                cursor: pointer;
                font-size: 1.5rem;

                &:hover {
                  color: royalblue;
                  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
                  transition: all 0.5s ease-in;
                }
              }
              small {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                font-size: 0.8rem;
                font-weight: 400;
                color: rgb(49, 49, 49);
              }
            }
          }
        }

        .qrsvg_top {
          position: relative;
          top: -29%;
        }
   
      }
    }
    .card4_box_7 {
      position: relative;
      padding: 10px 0px;
      width: 100%;

      .qrcode_container {
        margin: 2rem auto;
        width: 100%;
        min-height: 250px;
        height: auto;
        background: linear-gradient(#ffffff, #ffffff);
        border-top-right-radius: 8rem;
        border-bottom-right-radius: 8rem;
        // filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
        box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
        border-left: 0px solid black;
 
        padding: 10px 0.7rem;

        .qrcode_title {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          letter-spacing: 1px;
          color: rgb(24, 24, 24);
          font-family: "Lugrasimo", cursive;
          font-weight: 500;
          font-style: normal;
          padding: 0px 5px;

          gap: 10px;

          img {
            width: 30px;
            height: 30px;
          }
        }
        .details {
          width: 100%;
          padding: 2rem 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px auto;
          place-items: center;

          .left {
            flex: 0.5;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              object-position: center;
              border-radius: 10px;
              filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
            }
          }
          .right {
            flex: 0.5;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              border: 2px solid rgb(31, 31, 31);
              object-fit: cover;
              object-position: center;
            }

            button {
              padding: 10px 1rem;
              outline: none;
              border: transparent;
              border-radius: 2rem;
              font-weight: 550;
              cursor: pointer;

              &:hover {
                filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
              }
            }
          }
        }
      }
    }
    .card4_box_8 {
      position: relative;
      padding: 10px 0.5rem;
      margin-bottom: 3rem;
      .gallery_title {
        font-family: "Lugrasimo", cursive;
        font-weight: 500;
        font-style: normal;
        padding: 0px 5px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        p {
          color: #202020;
          font-weight: 600;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }
      .gallery_container{
        width: 100%;
        place-items: center;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .full_image {
            position: absolute;
            top: 0%;
            left: 0%;
            display: none;
            // right: 50%;
            // transform: translate(-50%,-50%);
            z-index: 500;
    
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: #79C9E0;
    
            // display: none;
    
            .close_Full_Image_gallery {
              position: absolute;
              right: 3%;
              top: 5%;
    
              i {
                display: flex;
                align-items: center;
                justify-content: center;
             font-size: 1.4rem;
             color: red;
    
                cursor: pointer;
                place-items: center;
                transition: all 0.3s ease-in-out;
    
                &:hover {
                  filter: drop-shadow(0px 4px 5px rgba(255, 156, 117, 0.6));
                  scale: 1.2;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            img {
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60%;
              height: 200px;
              filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
              border-radius: 10px;
              z-index: 1000;
              object-fit: cover;
    
              @media (max-width:600px){
                width: 70%;
                height: 250px;
    
            }
            }
          }
        .col_1{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
    
            img{
                width: 120px;
                height: 120px;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                opacity: 1;
                border-radius: 1rem;
                &:hover{
                    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
                    scale: 0.95;
                    opacity: 0.6;
                    border-radius: 1rem;
                    transition: all 0.3s ease-in-out;
                }
    
                @media (max-width:600px){
                    width: 100px;
                    height: 100px;
    
                }
            }
        }
    
        .col_3{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
    
            img{
                width: 120px;
                height: 120px;
                border-radius: 1rem;
                object-fit: cover;
                opacity: 1;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
                    scale: 0.95;
                    border-radius: 1rem;
                    opacity: 0.6;
                    transition: all 0.3s ease-in-out;
                }
                @media (max-width:600px){
                    width: 100px;
                    height: 100px;
    
                }
            }
        }
    
          
       
          
         
    }
    }
    .card4_box_9 {
      position: relative;
      padding: 10px 0rem;
      .inquires_title {
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        padding: 0px 15px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 0%;
        z-index: 900;
        width: 100%;

        p {
          color: #141414;
          font-weight: 600;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
      .inquiries_container {
   
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        margin: auto;
        .form_svg_top {
          position: absolute;
          top: -14%;
          width: 100%;
          left: 0%;
        }
        .form_svg_bottom {
          position: absolute;
          bottom: -18%;
          width: 100%;
          left: 0%;

          @media screen and (max-width:700px){
            bottom: -15%;
          }
        }
        form {
          width: 100%;
         
          background-color: #ffffff;
          padding: 1rem;
          z-index: 700;
          .form_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            margin: 10px auto;

            label {
              font-size: 0.8rem;
              letter-spacing: 1px;
              color: #000;
              font-weight: 600;
            }
            .input {
              width: 100%;
              position: relative;
              input,
              textarea {
                width: 100%;
                padding: 0.9rem 2.5rem;
                outline: none;
                border: transparent;
                border-radius: 5px;
                background: transparent;
                border: 1px solid #29bdc1;
                caret-color: rgb(43, 43, 43);

                &::placeholder {
                  color: rgb(119, 119, 118);
                  letter-spacing: 1px;
                  font-size: 0.7rem;
                }
              }

              img {
                position: absolute;
                left: 2%;
                width: 25px;
                height: 25px;
                top: 18%;
              }
            }
          }
          .form_submit {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 1rem auto;
            padding: 0.5rem 2rem;

            button {
              padding: 9px 1rem;
              outline: none;
              cursor: pointer;
              border: transparent;
              background-color: rgb(26, 26, 26);
              color: #ffffff;
              width: 130px;
              font-size: 0.9rem;
              font-weight: 550;
              letter-spacing: 1px;
              border-radius: 7px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              transition: all 0.4s ease-in;
              img {
                width: 20px;
                height: 20px;
              }
              &:hover {
                background-color: rgb(255, 255, 255);
                border: 1px solid black;
                transition: all 0.4s ease-in;
                filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
                color: #000;
              }
            }
          }
        }
      }
    }
    .card4_box_10 {
      position: relative;
      padding: 10px 0rem;
      margin: 2rem auto;
      .feedback_title {
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
        padding: 10px 5px;
        margin-bottom: 2rem;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        gap: 10px;
        z-index: 700;

        p {
          color: #1d1d1d;
          font-weight: 600;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
      .feedback_container {
        z-index: 700;
        position: relative;
     
        form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: auto;
          padding: 10px 0.5rem;
          // background-color: #ffffff;
          z-index: 600;

          .form_group {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 0.2rem 0.2rem;

            .error {
              font-size: 0.6rem;
              color: red !important;
              -webkit-text-fill-color: rgb(252, 55, 55);
              letter-spacing: 1px;
              // width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              padding: 10px 4px;

              left: 5%;
              color: rgb(34, 34, 34);
              // background: linear-gradient(#000,tomato);
              -webkit-text-fill-color: rgb(10, 10, 10);
              font-size: 0.7rem;
              font-weight: 550;

              border-radius: 4px;

              span {
                font-size: 1rem;
                color: red !important;
                -webkit-text-fill-color: rgb(255, 31, 31);
                sup {
                  color: red !important;
                }
              }

              @media screen and (max-width: 800px) {
                left: 5%;
              }
            }

            input,
            .ratting_container {
              width: 100%;
              padding: 1rem;
              // border: 2px solid rgb(177, 238, 128);
              border: double 2px transparent;
              border-radius: 0.5rem;
font-size: 1.2rem;
              background: transparent;
border: 2px solid #acacac;
              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.6rem;
                color: rgb(27, 27, 27);
                letter-spacing: 1px;
                font-weight: 400;
              }
              &:focus {
                border: double 2px transparent;
                border-radius: 0.3rem;
                background: transparent;
                border: 1px solid white;
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background: transparent;
                border: 1px solid white;
              }
            }

            .ratting_container {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              span {
                i {
                  font-size: 2rem;
                  cursor: pointer;
                  color: lightgray;
                  transition: all 0.4s ease-in-out;

                  // &:hover{
                  //  filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.4));
                  //  color: rgb(86, 252, 86);
                  //  transition: all 0.4s ease-in-out;

                  // }
                }
                .highlight {
                  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                  color: gold;
                }
              }
            }
            textarea {
              width: 100%;
              padding: 1rem;
              // border: 2px solid rgb(177, 238, 128);
              border: double 2px transparent;
              border-radius: 0.5rem;

              background: transparent;
              border: 2px solid #acacac;
              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.6rem;
                color: rgb(48, 48, 48);
                letter-spacing: 1px;
                font-weight: 400;
              }
              &:focus {
                border: double 2px transparent;
                border-radius: 0.3rem;
                background: transparent;
                border: 1px solid white;
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background: transparent;
                border: 1px solid white;
              }
            }

            .icon {
              position: absolute;
              left: 1%;
              top: 63%;

              img {
                width: 25px;
                height: 25px;
              }
              i {
                font-size: 1.4rem;
                color: skyblue;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                left: 2%;
                top: 25%;
              }
            }
            .show_pass {
              position: absolute;
              right: 2%;
              top: 25%;

              i {
                font-size: 1.4rem;
                color: skyblue;
                cursor: pointer;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }

            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .form_actions {
            margin: 1rem auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background-color: rgb(255, 255, 255);
              width: auto;
              padding: 12px 1rem;
              outline: none;
              border: transparent;

              font-weight: 600;
              letter-spacing: 1px;
              font-size: 0.8rem;
              border-radius: 10px;
              cursor: pointer;
              color: #181818;
              transition: all 0.4s ease-in;
              filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));

              img {
                width: 20px;
                height: 20px;
              }
              .form_loader,
              .form_loader:before,
              .form_loader:after {
                border-radius: 50%;
                width: 1em;
                height: 1em;
                animation-fill-mode: both;
                animation: bblFadInOut 1.8s infinite ease-in-out;
              }
              .form_loader {
                color: #fff;
                font-size: 7px;
                position: relative;
                text-indent: -9999em;
                transform: translateZ(0);
                animation-delay: -0.16s;
              }
              .form_loader:before,
              .form_loader:after {
                content: "";
                position: absolute;
                top: 0;
              }
              .form_loader:before {
                left: -3.5em;
                animation-delay: -0.32s;
              }
              .form_loader:after {
                left: 3.5em;
              }

              @keyframes bblFadInOut {
                0%,
                80%,
                100% {
                  box-shadow: 0 2.5em 0 -1.3em;
                }
                40% {
                  box-shadow: 0 2.5em 0 0;
                }
              }

              &:hover {
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(28, 65, 54);
                transition: all 0.4s ease-in;
                filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
                color: #000;
              }
            }
          }
        }
      }
      .Feedback_container {
        z-index: 600;
        width: 100%;
        height: auto;
        padding: 0.2rem 0.5rem;
        margin: 0rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .feeback_title {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-between;
          gap: 10px;
          z-index: 800;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0.7rem 1rem;
            font-size: 0.6rem;
            color: rgb(122, 122, 122);
            background: transparent;
            cursor: pointer;
            outline: none;
            border: transparent;
            font-weight: 600;

            i {
              font-size: 1.4rem;
              color: rgb(19, 19, 19);
            }
          }
          .feedBack_loader {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
            margin: 15px auto;
            position: relative;
            color: #253bff;
            left: -100px;
            box-sizing: border-box;
            animation: shadowRolling 2s linear infinite;
          }

          @keyframes shadowRolling {
            0% {
              box-shadow: 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0);
            }
            12% {
              box-shadow: 100px 0 rgb(76, 247, 176),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0);
            }
            25% {
              box-shadow: 110px 0 rgb(107, 98, 233), 100px 0 rgb(75, 45, 243),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            }
            36% {
              box-shadow: 120px 0 rgb(94, 236, 255), 110px 0 rgb(226, 253, 72),
                100px 0 rgb(219, 99, 119), 0px 0 rgba(255, 255, 255, 0);
            }
            50% {
              box-shadow: 130px 0 rgb(240, 135, 49), 120px 0 rgb(56, 163, 74),
                110px 0 rgb(99, 95, 95), 100px 0 rgb(135, 111, 221);
            }
            62% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white,
                120px 0 white, 110px 0 white;
            }
            75% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
            }
            87% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
                130px 0 white;
            }
            100% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0);
            }
          }
        }
        .comment_box {
          width: 100%;
          max-height: 300px;
          height: 300px;
          overflow: scroll;
          padding: 10px 5px;
          margin: 3rem auto;
        background: transparent;
        border: 2px dashed rgb(122, 121, 121);
          border-radius: 5px;
      
          position: relative;

          .message {
            width: 100%;
            padding: 10px;
            border-bottom: 2px solid rgb(238, 237, 237);
            .user_detail {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;

              .profile {
                img {
                  width: 40px;
                  height: 40px;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 50%;
                  border: 1px solid lightgrey;
                }
              }
              .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2px;

                .userName {
                  p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 0.8rem;
                    color: rgb(22, 22, 22);
                    letter-spacing: 1px;
                    font-weight: 550;

                    i {
                      color: green;
                      font-size: 1.2rem;
                    }
                  }
                }
                .stars {
                  .ratting_container1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3rem;

                    span {
                      i {
                        font-size: 0.8rem;
                        cursor: pointer;
                        color: lightgray;
                        transition: all 0.4s ease-in-out;

                        // &:hover{
                        //  filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.4));
                        //  color: rgb(86, 252, 86);
                        //  transition: all 0.4s ease-in-out;

                        // }
                      }

                      .highlight1 {
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                        color: gold;
                      }
                    }
                  }

                  #noRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4),
                    span:nth-child(5) {
                      i {
                        text-decoration: line-through;
                        text-decoration-color: #ff2525;
                      }
                    }
                  }

                  #singleRatting {
                    span:nth-child(1) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #doubleRatting {
                    span:nth-child(1),
                    span:nth-child(2) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #ThreeRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #fourRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #fullRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4),
                    span:nth-child(5) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                }
              }
            }
            .comments {
              padding-left: 3.5rem;
              margin: 10px auto;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;

              i {
                color: royalblue;
              }
              span {
                font-size: 0.8rem;
                color: #272727;
              }
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
    .card4_box_11 {
      position: relative;
      bottom: 0%;
      width: 100%;
      margin-top: 3rem;
      .footer_container {
        width: 100%;
        background-color: rgb(255, 255, 255);
        min-height: 70px;
        height: 80px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        z-index: 600;
        padding-bottom: 10px;

        p{
          font-size: 0.8rem;
          color: #000;
          font-weight: 550;
       
        }
        svg{
          position: absolute;
          z-index: -1;
          top: -4%;
          left: 0%;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 900px) {
      min-width: 80%;
      width: 80%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 700px) {
      min-width: 90%;
      width: 90%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 650px) {
      min-width: 100%;
      width: 100%;
      min-height: 100vh;
      height: auto;
      border: 0px solid rgb(77, 77, 77);
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
