.taxi_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    // color: #ffff00;
    // &::before {
    //   content: "";
    //   width: 50px;
    //   height: 1px;
    //   background-color: #fff;
    //   position: relative;
    // }
    &::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #ffffff;
      position: relative;
      animation: TaxilineAnime 3s infinite linear;
      @keyframes TaxilineAnime {
        0% {
          width: 0px;
        }
        50% {
          width: 50px;
        }
        100% {
          width: 0px;
        }
      }
    }
    &::before {
   display: none !important;
 
    }
  }
}
.newcard_design12_container {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  color: #ffffff;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  background: linear-gradient(280deg, #fdd976, #f3ff8c);

.trip_banner{
  position: fixed;
  right: 5%;
  top: 5%;

  img{
    width: 200px;
  }
}
  .newcard_design12_box {
    width: 450px;
    max-width: 450px;
    height: auto;
    background-color: #034b45;
    filter: drop-shadow(0px 4px 5px rgba(19, 175, 136, 0.4));
    overflow: hidden;
    z-index: 2;
    //BasicDetails and socialmedias and baner and logo
    .row_1 {
      width: 100%;
      max-height: 300px;
      height: 300px;
      position: relative;
z-index: 1;
      .route_image{
        position: absolute;
 bottom: 0%;
 right: -50%;


        img{
          width:450px;
  z-index: -1;
  opacity: 1;


        }
      }
      .banner_image {
        width: 100%;
        max-height: 300px;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
         
        }
        .overlay {
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(#034b4500 0%, #034b45 100%);
        }
      }

      .user_details {
        position: absolute;
        width: 100%;
        bottom: -25px;
        left: 0px;
        padding: 0px 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        .user_logo {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: flex-end;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            border: 2px solid #edfd58;
            filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.4));
          }
        }

        .user_data {
          padding: 0px 0px 0px 10px;
          color: #fff;
          position: relative;
          bottom: -15px;

          h2 {
            font-size: 1.2rem;
          }

          p {
            font-size: 0.9rem;
            font-weight: 500;
            color: #ffff00;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0rem;
            // animation: professionAnime 15s infinite linear;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              object-position: center;
              // animation: carAnime 8s infinite linear;
              // @keyframes carAnime {
              //   0% {
              //     transform: translateX(-10px);
              //   }
              //   50% {
              //     transform: translateX(40px);
              //   }
              //   100% {
              //     transform: translateX(-2px);
              //   }
              // }
            }

            // @keyframes professionAnime {
            //   0% {
            //     transform: translateX(0px);
            //   }
            //   50% {
            //     transform: translateX(150px);
            //   }
            //   100% {
            //     transform: translateX(0px);
            //   }
            // }
          }

          .social_medias {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;
            width: 100%;
            //  flex-wrap: wrap;
            // padding: 5px 0px;

            a {
              text-decoration: none;
              color: #dcdee0;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              border-radius: 5px;
              position: relative;
              background-color: #1a8b82e8;
              transition: all 0.4s ease-in-out;

              i {
                font-size: 1.4rem;
                transition: all 0.4s ease-in-out;
                position: relative;
                animation: iconsAnime 3s infinite linear;
                &:hover {
                  filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.685));
                  scale: 1.1;
                  animation: none;
                  transition: all 0.4s ease-in-out;
                }

                @keyframes iconsAnime {
                  0% {
                    transform: translateY(0px);
                  }
                  50% {
                    transform: translateY(-5px);
                  }
                  100% {
                    transform: translateY(-10px);
                  }
                }
              }
              small {
                display: none;
                position: absolute;
                transition: all 0.4s ease-in-out;
              }

              &:hover small {
                filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.685));
                position: relative;
                top: 0px;
                left: 3px;
                display: block;
                font-size: 0.5rem;
                font-weight: 550;
                letter-spacing: 1px;
                transition: all 0.4s ease-in-out;
              }
            }

            @media screen and (max-width: 600px) {
              gap: 0.6rem;
              position: absolute;
              bottom: -20px;
            }
          }
        }

        @media screen and (max-width: 900px) {
          position: absolute;
          width: 100%;
          bottom: 10px;
          left: 0px;
        }
      }
    }
    //Summary
    .row_2 {
      padding: 3rem 1rem 0rem 1rem;
      width: 100%;

      p {
        width: 100%;
        font-size: 0.8rem;
        line-height: 1.5rem;
        text-align: start;
      }
    }
    // ContactDetails
    .row_3 {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  
      .contact_list_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        place-items: center;
        gap: 0.5rem 1rem;
        margin: 1rem auto;

        .contact_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0rem;
          justify-content: center;

          padding: 5px 0.5rem 0px 0.5rem;
          width: 100%;
          height: 100px;
          // overflow-y: scroll;
          background-color: #1a8b8275;

          border-radius: 0.5rem;

          .icons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;
            width: 100%;

            i {
              display: block;
              font-size: 1.5rem;
              padding: 5px;

              border-radius: 5px;
              background-color: #1a8b82e8;
              filter: drop-shadow(0px 4px 3px #1a8b827a);
            }

            small {
              display: block;

              font-size: 0.7rem;
              font-weight: 550;
              color: #bbbbbb;
            }
          }

          .list_detail {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow-x: scroll;
            padding-top: 10px;

            p {
              width: 100%;
              display: flex;
              align-items: flex-start;

              justify-content: flex-start;

              // display: block;
              font-size: 0.7rem;
              font-weight: 550;
              padding-top: 5px;
              overflow-x: scroll;
              &::-webkit-scrollbar {
                display: none;
              }
            }

            &::-webkit-scrollbar {
              display: none;
            }
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .add_to_contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.3rem auto;

        button {
          padding: 7px 1rem;
          color: #fff;
          background-color: #1a8b8275;
          font-weight: 550;
          font-size: 0.8rem;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &:hover {
            background-color: #1caca075;
          }
        }
      }
    }
    //Services
    .row_4 {
      width: 100%;
      padding: 0rem 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .service_list_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        place-items: center;
        gap: 2rem 1rem;
        margin: 1rem auto;

        .service_list {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          // justify-content: space-around;
          padding: 10px 0.1rem 0px 0.1rem;
          // background-color: #8DC640;
          border: 2px dashed #1a8b828e;
          // border-width: 2px 0 0 0; /* Control which sides have borders */
          box-sizing: border-box; /* Ensure proper sizing */
          border-spacing: 20px; /* Increase gap between dashes */
          width: 100%;
          height: 200px;
          border-radius: 1rem;
          span {
            font-size: 1.9rem;
            padding: 5px;
            filter: drop-shadow(0px 4px 3px rgba(255, 255, 255, 0.562));
          }

          .service_detail {
            width: 100%;
            overflow: scroll;

            .service_title {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              h4 {
                font-size: 0.9rem;
                font-weight: 550;
              }
            }
            .service_summary {
              width: 100%;

              p {
                width: 100%;
                font-size: 0.8rem;
                font-weight: 500;
                text-align: center;
              }
            }

            &::-webkit-scrollbar {
              display: none;
            }
          }

          @media screen and (max-width: 600px) {
            height: 200px;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 1rem;
      }
    }
    //Gym open time
    .row_5 {
      width: 100%;
      padding: 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .time_list_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        place-items: center;
        gap: 1rem 1rem;
        margin: 1rem auto;

        .time_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 5px 1rem 5px 1rem;
          background-color: #1a8b8275;
          width: 100%;
          border-radius: 0.5rem;

          .day {
            // display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            span {
              font-size: 0.7rem;
              font-weight: 550;
              color: #ebf592;

              &::after {
                content: "";
                display: block;
                height: 1px;
                background-color: rgb(253, 245, 124);
                width: 100%;
              }
            }
          }
          .time {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            margin-top: 10px;
            // background-color: #fff;

            .start {
              h6 {
                font-size: 0.6rem;
                font-weight: 600;
              }
              span {
                font-size: 0.6rem;
                font-weight: 550;
              }
            }
            .end {
              h6 {
                font-size: 0.6rem;
                font-weight: 500;
              }
              span {
                font-size: 0.6rem;
                font-weight: 550;
              }
            }
          }
          //    @media screen and (max-width:600px){
          //     height: 150px;
          //    }
        }
      }
    }
    //Appoinment
    .row_6 {
      width: 100%;
      padding: 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .appinment_form_container {
        width: 100%;

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1rem;
          width: 100%;

          .form_group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            label {
              font-size: 0.8rem;
              font-weight: 550;
              letter-spacing: 1px;
            }
            input[type="date"] {
              width: 100%;
              outline: none;
              padding: 8px 1rem;
              background-color: transparent;
              border: 1px solid #0caf99;
              color: rgb(255, 255, 255);
              &::placeholder {
                color: rgb(255, 255, 255);
              }
            }

            select {
              width: 100%;
              outline: none;
              padding: 8px 1rem;
              background-color: transparent;
              border: 1px solid #0caf99;
              color: rgb(255, 255, 255);
            }
          }
          .form_submit {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem auto;
            width: 100%;

            button {
              display: flex;
              align-self: center;
              justify-content: center;
              width: 100%;
              outline: none;
              padding: 6px 1rem;
              background-color: #1a8b8275;
              color: #ffffff;
              border-radius: 0.3rem;
              font-weight: 550;

              &:hover {
                background-color: #1ab4a7af;
                filter: drop-shadow(0px 4px 5px rgba(109, 109, 109, 0.4));
              }
            }
          }
        }
      }
    }
    //Products
    .row_7 {
      width: 100%;
      padding: 1rem;
position: relative;
      .route_image2{
        position: absolute;
width: 100%;
        img{
          width: 100%;
          height: 300px;
          z-index: -2;
          opacity: 0.7;
          
        }
      }
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .product_list_container {
        margin: 1rem auto 0rem auto;
        width: 100%;
        // display: grid;
        // flex-wrap: wrap;
      z-index: 1;
      

        .product_list {
          width: 96%;
          max-width: 96%;
          height: 150px;
          max-height: 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #05746aef;
          border: 2px dashed #0b9185;
          border-radius: 0.5rem;
          overflow: scroll;

          .product_image {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              // border-top-right-radius: 0.5rem;
              // border-top-left-radius: 0.5rem;
              margin: auto;
            }
          }
          .product_details {
            padding: 0.5rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            h4 {
              width: 100%;
              font-size: 1rem;
              font-weight: 550;
              letter-spacing: 1px;
            }
            small {
              width: 100%;
              font-size: 0.8rem;
              display: flex;
              flex-wrap: wrap;
            }
            button {
              width: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0.3rem 1rem;
              background-color: #074949;
              color: #fff;
              font-weight: 500;
              margin: auto;
              border-radius: 0.3rem;

              &:hover {
                filter: drop-shadow(0px 4px 5px rgba(153, 153, 153, 0.3));
                background-color: #10ad98;
              }
            }
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    //Gallery
    .row_8 {
      width: 100%;
      padding: 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .gallery_container {
        margin: 0rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-top: 0.5rem;
        border-radius: 1rem;

        position: relative;

        .full_image {
          position: absolute;
          top: 0%;
          left: 0%;
          display: none;
          // right: 50%;
          // transform: translate(-50%,-50%);
          z-index: 500;

          margin: auto;
          width: 100%;
          height: 100%;
          background: linear-gradient(#046d64, #046d64);

          // display: none;

          .close_Full_Image_gallery {
            position: absolute;
            right: 3%;
            top: 5%;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              color: red;

              cursor: pointer;
              place-items: center;
              transition: all 0.3s ease-in-out;

              &:hover {
                filter: drop-shadow(0px 4px 5px rgba(255, 156, 117, 0.6));
                scale: 1.2;
                transition: all 0.3s ease-in-out;
              }
            }
          }
          img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 150px;
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
            border-radius: 10px;
            z-index: 1000;
            object-fit: cover;

            @media (max-width: 600px) {
              width: 70%;
              height: 150px;
            }
          }
        }

        .gallery_box {
          width: 100%;

          height: 150px;
          max-height: 150px;
          min-height: 150px;
          margin: 0rem auto;
          vertical-align: middle;
          // padding: 5px;

          // display: flex;

          // align-items: center;
          // justify-content: center;
          // gap: 1rem;
          overflow: hidden;
          position: relative;
          place-items: center;

          .click_image {
            position: absolute;

            bottom: 10%;
            left: 10%;

            img {
              position: sticky;
              left: 10%;
              width: 35px;
              height: 35px;
              mix-blend-mode: multiply;

              // filter: brightness(100%);
            }
          }

          img {
            width: 96%;
            height: 70%;
            max-width: 96%;
            place-items: center;
            object-fit: cover;
            cursor: pointer;
            vertical-align: middle;
            border-radius: 0.5rem;

            transition: all 0.4s ease-in-out;
            &:hover {
              filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.6));

              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
    }
    //Testimonial
    .row_9 {
      width: 100%;
      padding: 1rem 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }

      .testimonial_container {
        margin: 1rem auto;
        width: 100%;
        height: 150px;
        max-height: 150px;
.carousel{
  height: 150px;
}
.carousel-slider{
  height: 150px;
}
        .testimonial_list {
          margin: 1rem 1rem;
          width: 90%;
         height: 150px;
         min-height: 150px;
          background-color: #1a8b8275;
          overflow-y: auto;
          margin: auto;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: flex-start;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          position: relative;

          .client_feedback {
          }
          .client_detail {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            gap: 10px;
            margin-top: 0.5rem;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }

            .client_name {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              h4 {
                font-size: 0.8rem;
                color: #ffffff;
                font-weight: 550;
              }
              small {
                font-size: 0.7rem;
                color: rgb(253, 236, 81);
              }
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
            //Google map::after
            .google_map_container {
              width: 100%;
        
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 1rem;
        
              @extend .taxi_title;
        
              .google_map {
                width: 100%;
        
                iframe {
                  width: 100% !important;
                  height: 250px !important;
                  border: none !important;
                  margin: 1rem auto;
                  border-radius: 0.5rem;
                  filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.527));
                }
              }
            }
    //Feedback
    .row_10 {
      width: 100%;
      padding: 1rem;
      position: relative;


      .rattingcar_image{
        position: absolute;
bottom: 0%;
left: -5%;

        img{
          width: 250px;
            
        }
      }
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .feedback_container {
        position: relative;
        margin-top: 0.5rem;

        form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: auto;
          padding: 10px 0.5rem 2rem 0.5rem;

          //  filter: drop-shadow(4px 4px 5px rgba(82, 81, 81, 0.582));

          .feedback_svg {
            position: absolute;
            top: -4%;
            right: 0%;

            img {
              width: 100px;
              object-fit: cover;
              object-position: center;

              @media (max-width: 600px) {
                width: 90px;
              }
            }

            @media (max-width: 600px) {
              top: -0%;
            }
          }
          .form_group {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 95%;
            position: relative;
            margin: 0.2rem 0.2rem;

            .error {
              font-size: 0.6rem;
              color: red !important;
              -webkit-text-fill-color: rgb(252, 55, 55);
              letter-spacing: 1px;
              // width: 100%;
              display: flex;
              align-items: center;
              font-weight: 550;
              justify-content: flex-start;
            }
            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              left: 5%;
              color: #ffffff;
              // background: linear-gradient(#000,tomato);
              -webkit-text-fill-color: rgb(241, 241, 241);
              font-size: 0.7rem;
              font-weight: 500;

              border-radius: 4px;

              span {
                font-size: 1rem;
                color: red !important;
                -webkit-text-fill-color: rgb(255, 31, 31);
                sup {
                  color: red !important;
                }
              }

              @media screen and (max-width: 800px) {
                left: 5%;
              }
            }

            input,
            .ratting_container {
              width: 100%;
              padding: 0.5rem 1rem;
              // border: 2px solid rgb(177, 238, 128);

              border-radius: 0.5rem;
              background-color: transparent;
              border: 1px solid rgb(255, 255, 255);

              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;
              caret-color: white;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.6rem;
                color: rgb(179, 179, 179);
                letter-spacing: 1px;
                font-weight: 400;
              }
              &:focus {
                border: double 2px transparent;
                border-radius: 0.3rem;
                background-color: transparent;
                border: 1px solid rgb(114, 114, 114);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background-color: transparent;
                border: 1px solid rgb(255, 255, 255);
              }
            }

            .ratting_container {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              span {
                i {
                  font-size: 2rem;
                  cursor: pointer;
                  color: lightgray;
                  transition: all 0.4s ease-in-out;

                  // &:hover{
                  //  filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.4));
                  //  color: rgb(86, 252, 86);
                  //  transition: all 0.4s ease-in-out;

                  // }
                }
                .highlight {
                  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                  color: gold;
                }
              }
            }
            textarea {
              width: 100%;
              padding: 1rem;
              caret-color: white;
              border: double 1px transparent;
              border-radius: 0.5rem;
              background-color: transparent;
              border: 1px solid rgb(241, 241, 241);
              background-origin: border-box;
              background-clip: padding-box, border-box;
              border-radius: 0.3rem;
              outline: none;

              transition: all 0.3s ease;
              &::placeholder {
                font-size: 0.6rem;
                color: rgb(179, 179, 179);
                letter-spacing: 1px;
                font-weight: 400;
              }
              &:focus {
                border: double 2px transparent;
                border-radius: 0.3rem;
                background-color: transparent;
                border: 1px solid rgb(114, 114, 114);

                background-origin: border-box;
                background-clip: padding-box, border-box;
                transition: all 0.3s ease;
              }

              @media screen and (max-width: 800px) {
                padding: 0.8rem 2rem;
                width: 100%;
                background-color: transparent;
                border: 1px solid rgb(247, 247, 247);
              }
            }

            .icon {
              position: absolute;
              left: 1%;
              top: 63%;

              img {
                width: 25px;
                height: 25px;
              }
              i {
                font-size: 1.4rem;
                color: skyblue;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                left: 2%;
                top: 25%;
              }
            }
            .show_pass {
              position: absolute;
              right: 2%;
              top: 25%;

              i {
                font-size: 1.4rem;
                color: skyblue;
                cursor: pointer;
              }

              @media screen and (max-width: 800px) {
                position: absolute;
                right: 2%;
                top: 25%;
              }
            }

            @media screen and (max-width: 900px) {
              margin: 0.8rem auto;
            }
          }
          .form_actions {
            margin: 1rem auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 1rem auto;

            button {
              margin-right: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background-color: #1a8b8275;
              filter: none;
              width: 40%;
              padding: 10px 0.5rem;
              outline: none;
              border: transparent;

              font-weight: 500;
              letter-spacing: 1px;
              font-size: 0.7rem;
              border-radius: 10px;
              cursor: pointer;
              color: #ffffff;
              transition: all 0.4s ease-in;

              img {
                width: 20px;
                height: 20px;
              }
              .form_loader,
              .form_loader:before,
              .form_loader:after {
                border-radius: 50%;
                width: 1em;
                height: 1em;
                animation-fill-mode: both;
                animation: bblFadInOut 1.8s infinite ease-in-out;
              }
              .form_loader {
                color: #fff;
                font-size: 7px;
                position: relative;
                text-indent: -9999em;
                transform: translateZ(0);
                animation-delay: -0.16s;
              }
              .form_loader:before,
              .form_loader:after {
                content: "";
                position: absolute;
                top: 0;
              }
              .form_loader:before {
                left: -3.5em;
                animation-delay: -0.32s;
              }
              .form_loader:after {
                left: 3.5em;
              }

              @keyframes bblFadInOut {
                0%,
                80%,
                100% {
                  box-shadow: 0 2.5em 0 -1.3em;
                }
                40% {
                  box-shadow: 0 2.5em 0 0;
                }
              }

              &:hover {
                background-color: #20afa375;
                color: #ffffff;
                font-weight: 550;
                transition: all 0.4s ease-in;
              }
            }
          }
        }
      }
      .Feedback_container_message {
        width: 100%;
        height: auto;
        padding: 0.2rem 0.5rem;
        margin: 0rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .feeback_title {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-between;
          gap: 10px;
          z-index: 800;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0.7rem 1rem;
            font-size: 0.6rem;
            color: #fafafa;
            background: transparent;
            cursor: pointer;
            outline: none;
            border: transparent;
            position: relative;
            font-weight: 600;

            i {
              font-size: 1.4rem;
              color: rgb(211, 211, 211);
            }

            .count{
              position: absolute;
              right: 5%;
              top: 4%;

              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background-color: rgb(7, 134, 113);
              color: #ffffff;
              font-weight: 550;
              font-size: 0.7rem
            }
          }
          .feedBack_loader {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
            margin: 15px auto;
            position: relative;
            color: #253bff;
            left: -100px;
            box-sizing: border-box;
            animation: shadowRolling 2s linear infinite;
          }

          @keyframes shadowRolling {
            0% {
              box-shadow: 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0);
            }
            12% {
              box-shadow: 100px 0 rgb(76, 247, 176),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
                0px 0 rgba(255, 255, 255, 0);
            }
            25% {
              box-shadow: 110px 0 rgb(107, 98, 233), 100px 0 rgb(75, 45, 243),
                0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            }
            36% {
              box-shadow: 120px 0 rgb(94, 236, 255), 110px 0 rgb(226, 253, 72),
                100px 0 rgb(219, 99, 119), 0px 0 rgba(255, 255, 255, 0);
            }
            50% {
              box-shadow: 130px 0 rgb(240, 135, 49), 120px 0 rgb(56, 163, 74),
                110px 0 rgb(99, 95, 95), 100px 0 rgb(135, 111, 221);
            }
            62% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white,
                120px 0 white, 110px 0 white;
            }
            75% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
            }
            87% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
                130px 0 white;
            }
            100% {
              box-shadow: 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
                200px 0 rgba(255, 255, 255, 0);
            }
          }
        }
        .comment_box {
          width: 100%;
          max-height: 300px;
          height: 300px;
          overflow: scroll;
          padding: 10px 5px;
          margin: 3rem auto;
          background: transparent;
          background: linear-gradient(#d8ffa5, #feffc7);
          filter: drop-shadow(0px 4px 5px rgba(73, 73, 73, 0.5));
          border-radius: 5px;

          position: relative;

          .message {
            width: 100%;
            padding: 10px;
            border-bottom: 2px solid rgb(238, 237, 237);
            .user_detail {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1rem;

              .profile {
                img {
                  width: 40px;
                  height: 40px;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 50%;
                  border: 1px solid lightgrey;
                }
              }
              .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2px;

                .userName {
                  p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 0.8rem;
                    color: rgb(22, 22, 22);
                    letter-spacing: 1px;
                    font-weight: 550;

                    i {
                      color: green;
                      font-size: 1.2rem;
                    }
                  }
                }
                .stars {
                  .ratting_container1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3rem;

                    span {
                      i {
                        font-size: 0.8rem;
                        cursor: pointer;
                        color: lightgray;
                        transition: all 0.4s ease-in-out;

                        // &:hover{
                        //  filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.4));
                        //  color: rgb(86, 252, 86);
                        //  transition: all 0.4s ease-in-out;

                        // }
                      }

                      .highlight1 {
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                        color: gold;
                      }
                    }
                  }

                  #noRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4),
                    span:nth-child(5) {
                      i {
                        text-decoration: line-through;
                        text-decoration-color: #ff2525;
                      }
                    }
                  }

                  #singleRatting {
                    span:nth-child(1) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #doubleRatting {
                    span:nth-child(1),
                    span:nth-child(2) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #ThreeRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #fourRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                  #fullRatting {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4),
                    span:nth-child(5) {
                      i {
                        color: rgb(23, 96, 255);
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
                      }
                    }
                  }
                }
              }
            }
            .comments {
              padding-left: 3.5rem;
              margin: 10px auto;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;

              i {
                color: royalblue;
              }
              span {
                font-size: 0.8rem;
                color: #272727;
              }
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    //Inquries
    .row_11 {
      width: 100%;
      padding: 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }
      .inquiries_container5 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: auto;

        form {
          width: 90%;
          padding: 10px 0px;

          margin: auto;
          .form_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            margin: 10px auto;

            label {
              font-size: 0.7rem;
              letter-spacing: 1px;
              color: #e9e9e9;
              font-weight: 550;
            }
            .input {
              width: 100%;
              position: relative;
              input,
              textarea {
                width: 100%;
                padding: 0.9rem 2.5rem;
                outline: none;
                border: transparent;
                border-radius: 5px;
                background-color: transparent;
                color: #fff;
                border: 1px solid rgb(241, 241, 241);
                caret-color: rgb(255, 171, 45);

                &::placeholder {
                  color: rgb(211, 211, 211);
                  letter-spacing: 1px;
                  font-size: 0.7rem;
                }
              }

              i {
                position: absolute;
                left: 2%;
                font-size: 1.5rem;
                color: #e9e9e9;
                top: 30%;
              }
            }
          }
          .form_actions {
            padding: 0px 1rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 1rem auto;

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background-color: #1a8b8275;
              color: #fff;
              width: auto;
              padding: 8px 1rem;
              outline: none;
              border: transparent;

              font-weight: 600;
              letter-spacing: 1px;
              font-size: 0.8rem;
              border-radius: 5px;
              cursor: pointer;

              transition: all 0.4s ease-in;

              img {
                width: 20px;
                height: 20px;
              }
              .form_loader,
              .form_loader:before,
              .form_loader:after {
                border-radius: 50%;
                width: 1em;
                height: 1em;
                animation-fill-mode: both;
                animation: bblFadInOut 1.8s infinite ease-in-out;
              }
              .form_loader {
                color: #fff;
                font-size: 7px;
                position: relative;
                text-indent: -9999em;
                transform: translateZ(0);
                animation-delay: -0.16s;
              }
              .form_loader:before,
              .form_loader:after {
                content: "";
                position: absolute;
                top: 0;
              }
              .form_loader:before {
                left: -3.5em;
                animation-delay: -0.32s;
              }
              .form_loader:after {
                left: 3.5em;
              }

              @keyframes bblFadInOut {
                0%,
                80%,
                100% {
                  box-shadow: 0 2.5em 0 -1.3em;
                }
                40% {
                  box-shadow: 0 2.5em 0 0;
                }
              }

              &:hover {
                background-color: #20c2b475;

                transition: all 0.4s ease-in;
                filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    //QRCode
    .row_12 {
      width: 100%;
      padding: 1rem;
      .taxi_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;
          font-size: 1.2rem;
          // color: #ffff00;
          // &::before {
          //   content: "";
          //   width: 50px;
          //   height: 1px;
          //   background-color: #fff;
          //   position: relative;
          // }
          &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: #ffffff;
            position: relative;
            animation: TaxilineAnime 3s infinite linear;
            @keyframes TaxilineAnime {
              0% {
                width: 0px;
              }
              50% {
                width: 50px;
              }
              100% {
                width: 0px;
              }
            }
          }
        }
      }

      .qrcode_container {
        width: 100%;
        height: 300px;
        max-height: 150px;

        .qr_code_box {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 10px;

          h4 {
            width: 100%;
            display: block;

            align-items: center;
            justify-content: flex-start;
            font-size: 0.8rem;

            small {
              font-size: 0.9rem;
              color: tomato;
            }
          }
          img {
            width: 30%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 0.4rem;
          }
        }
      }
    }
    // Footer
    .row_13 {
      position: relative;
      bottom: 0%;
      width: 100%;
      margin-top: 3rem;
      .footer_container {
        width: 100%;

        min-height: 70px;
        height: 70px;
        position: relative;
        display: flex;
        align-items: flex-end;

        justify-content: center;
        padding: 0px 0px;
        z-index: 600;

        p {
          padding-top: 20px;
          font-size: 0.8rem;
          color: #ffffff;
          font-weight: 550;

          @media (max-width: 600px) {
            font-size: 0.7rem;
          }
        }
        svg {
          position: absolute;
          z-index: -1;
          bottom: 0%;
          left: 0%;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 600px) {
      width: 100vw !important;
      min-width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

//Date input style:
.date-input {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove default styling in Safari */
  -moz-appearance: none; /* Remove default styling in Firefox */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.date-input::placeholder {
  color: #888; /* Placeholder color */
}

/* Custom icon for the date picker */
.date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: transparent;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("https://img.icons8.com/emoji/48/calendar-emoji.png")
    no-repeat center center;
  background-size: contain;
}


.taxi_title{

  h3{
    z-index: 2;
  }
}