.blog_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .notify_message{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        h5{
            font-size: 1.2rem;
            color: #1a7e27;
animation: blinking 1s infinite;
            @keyframes blinking {
                
                from{
                    opacity: 1;
                }
                to{
                    opacity: 0.1;
                }
            }
        }

    
    }
}