.Footer_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  justify-content: space-between;
  // padding: 2rem 2rem;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, #003036 30%, #018f94);
  color: #313131;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  .footer_back {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    scale: 1;
    width: 100%;
    height: 140%;

    // transform: rotate(180deg);
    @media screen and (max-width: 700px) {
      transform: rotate(0deg);
      position: absolute;
      top: 0%;
      left: 0%;
      width: 300%;
      height: 100%;

      scale: 1.5;
      margin: auto;
    }
  }

  .footer_row1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 2rem;
    position: relative;
    z-index: 1;
 
    color: #ffffff;

    .Footer_left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;

      .row_1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
  
  
  
        .company {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          height: 40px;
          width: 100%;
  
          img {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 50px;
            height: 50px;
            object-fit: cover;
            height: 40px;
          }
          h3 {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.2rem;
            font-weight: 550;
          }
        }
        .details {
     
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;
  
          .list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            width: 100%;
  
            i{
              font-size: 1.8rem;
             
              color: #87DB1C;
            }
            p {
              font-size: 0.9rem;
              font-weight: 500;
            }
          }
        }
      }
      .row_2{
        font-size: 1.2rem;
        font-weight: 500;
        color: #4c4c4c;
      }
      @media screen and (max-width: 776px) {
        width: 100%;
       }
    }
  
    .Footer_right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  gap: 5px;

      .row_1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
       .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
  
        form{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          height: 100%;
          width: 100%;
  
          .form_group{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            width: 100%;
  
  
  
            input{
              width: 100%;
              padding: 0.6rem 2rem;
              border: 1px solid #4c4c4c;
              outline: none;
              border-radius: 0px;

              @media screen and (max-width: 776px) {
               width:
               100%
               }
            }
  
          }
          .action{
  
            button{
              padding: 0.5rem 2rem;
              outline: none;
              border: none;
              background-color: #aadf65;
              color: #3d3d3d;
              font-weight: 600;
              letter-spacing: 1px;
              border-radius: 3rem;
  
              &:hover{
                background-color: #4CAF50;
                
              }
            }
          }
          @media screen and (max-width: 776px) {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            gap:10px
           }
        }
       }
      }
  
      .row_2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.2rem;
        font-weight: 500;
        color: #ffffff;
        width: 100%;
  
   
  
        .social_medias {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 0rem 1rem;
          gap: 1.5rem;
  
          a {
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 3px;
  
            font-weight: 550;
            position: relative;
            z-index: 1;
  
            .back_anime {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
            }
            i {
              padding: 5px;
              color: #fff;
              border-radius: 0.2rem;
              font-size: 1.5rem;
              // animation: socialMediaAnime 5s infinite linear;
              &:hover {
                filter: 0px 4px 5px rgba(0, 0, 0, 0.5);
              }
  
              &:hover + .note {
                display: block;
                transition: all 0.5s ease-in-out;
              }
            }
  
            .note {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              gap: 0px;
              display: none;
              animation: noteAnime 5s infinite linear;
              transition: all 0.5s ease-in-out;
              .bx-chevrons-up {
                background-color: transparent;
                border-radius: 0px;
                font-family: 0.9rem;
                color: #4c4c4c;
              }
  
              p {
                font-size: 0.5rem;
                font-weight: 550;
                color: #5c5c5c;
              }
  
              @keyframes noteAnime {
                0% {
                  transform: translateY(3px) scale(1);
                }
                50% {
                  transform: translateY(1px) scale(1);
                }
                100% {
                  transform: translateY(3px) scale(1);
                }
              }
            }
  
            &:nth-child(1) {
              i {
                color: rgb(255, 255, 255);
                animation-delay: 0s;
                // background-color: royalblue;
              }
  
              .note {
                animation-delay: 0s;
              }
            }
            &:nth-child(2) {
              i {
                color: rgb(255, 255, 255);
                animation-delay: 2s;
                // background-color: #FF8822;
              }
              .note {
                animation-delay: 2s;
              }
            }
            &:nth-child(3) {
              i {
                animation-delay: 1s;
                color: rgb(255, 255, 255);
                // background-color: rgb(53, 170, 100);
              }
              .note {
                animation-delay: 1s;
              }
            }
            &:nth-child(4) {
              display: none;
              i {
                animation-delay: 0.5s;
                // background-color: rgb(124, 148, 255);
              }
              .note {
                animation-delay: 0.5s;
              }
            }
            &:nth-child(5) {
              i {
                color: rgb(255, 255, 255);
                animation-delay: 0s;
                // background-color: rgb(185, 124, 255);
              }
              .note {
                animation-delay: 0s;
              }
            }
            @keyframes socialMediaAnime {
              0% {
                transform: translateY(0px) scale(1);
              }
              50% {
                transform: translateY(10px) scale(1);
              }
              100% {
                transform: translateY(0px) scale(1);
              }
            }
          }
        }
  
        @media screen and (max-width: 776px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 5px;
          padding: 1rem;
        }
      }
      @media screen and (max-width: 776px) {
        width: 100%;
       }
    }
    @media screen and (max-width: 776px) {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap:10px;
      padding: 0.5rem;
     }
  }

  .copyright{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;

    small{
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 1px;
    
    }
  }

  @media screen and (max-width: 776px) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:10px
   }
}
